[2014-03-17 00:22] Daniel15 opened #1 "Add creation of ReactConfig.cs to NuGet package"

[2014-03-17 00:23] Daniel15 opened #2 "Integrate JSX compilation with minifier support"
- ASP.NET bundling

Optionally:
- Cassette
- Combres

[2014-03-17 05:01] Daniel15 opened #3 "Visual Studio tooling"
Some sort of Visual Studio tooling for JSX where the standard JavaScript navigation and refactoring tools still work. This is a long time ambitious task. I have no experience with creating tooling for Visual Studio. Assistance would be fantastic!

Alternatively, some ReSharper tooling could be made instead, if it's easier. This would give syntax highlighting and ReSharper's tooling at least. See [

[2014-03-17 05:23] Daniel15 opened #4 "Write more unit tests"
All core functionality should be tested

[2014-03-17 05:25] Daniel15 opened #5 "MSBuild task for JSX build-time compilation"

[2014-03-23 08:13] Daniel15 opened #6 "Add a good example"
Think of something small but awesome to stick in React.Samples.Mvc4. I'm thinking something like the comments system example in the React tutorial. Render the first page of comments server-side, and have an infinite scroll or "load more" link that loads them via AJAX.

Maybe rewrite http://dan.cx/socialfeed.htm using React.

[2014-03-23 23:11] #6 closed, assigned to nobody

[2014-03-24 00:08] #2 closed, assigned to Daniel15

[2014-03-24 05:20] #1 closed, assigned to Daniel15

[2014-03-24 05:20] #4 closed, assigned to nobody

[2014-03-24 05:21] Daniel15 opened #7 "Mono compatibility"
So I can use it on my own site. :smile:

[2014-03-24 18:19] Daniel15 opened #8 "Support source maps"
Files transformed to JSX on-the-fly should also output the associated source map
- Does JSX transformation even support source maps at the moment?
- May need to cache on disk in addition to in-memory? See if ASP.NET output caching with file dependency is sufficient.

[2014-04-07 23:08] Daniel15 opened #9 "Add support for CommonJS modules"
I agree that this would be really nice to have.
Need to think about how it will work with minification/combination though. Do Cassette or ASP.NET Bundling/Minification have first-class support for modules?
Need to try out different loaders and see how they play with each other.

cc @PrabirShrestha

[2014-04-07 23:10] Daniel15 opened #10 "Remove System.Web dependency from core lib"

[2014-04-14 00:53] #10 closed, assigned to Daniel15

[2014-04-17 04:00] #7 closed, assigned to Daniel15

[2014-04-17 04:01] #5 closed, assigned to Daniel15

[2014-04-20 06:19] Daniel15 opened #13 "Reuse/pooling of JS engines"
Some JS engines (like Jint) can be reused across multiple requests. We can speed up execution by pooling these engines and reusing them (similar to a thread pool).

Maybe dispose the engine and start from scratch if any files change?

Important: IE engine can't be pooled, it can only be used from a single thread.

[2014-04-20 07:11] Daniel15 opened #14 "Mono support (V8)"
Add full support for Mono via V8 (probably VroomJS)

[2014-04-23 01:41] Daniel15 opened #15 "ServiceStack support"
Add  support for ServiceStack

[2014-04-24 01:47] shaunol opened #16 "React.NET with self hosting and PerRequestSingletons"
Hi there, first of all thanks for the great library. It's useful to have familiar tooling when learning new things.

I'm running React.NET inside a Microsoft.Owin self hosted environment. I've picked out the parts I needed from existing sources and seemed to get an environment up and running reasonably painlessly, including using RazorEngine and server-side rendering.

My only issue is how can I i

[2014-04-26 05:31] #14 closed, assigned to Daniel15

[2014-04-26 05:36] Daniel15 opened #17 "Improve error messaging"
The exception message should include line number, column number and filenames so you don't need to attach a debugger to get that information.

Depends on https://github.com/Taritsyn/JavaScriptEngineSwitcher/issues/7 for MSIE engine support.

[2014-06-08 05:28] yoshicarroll opened #22 "ES6 arrow function returning object literal error"
Trying out the ES6 arrow functions and this works as expected
_ => "f";
//becomes
function(_)  {return "f";};

but this transform fails to remove the right paren

_ => ({});
//becomes
function(_)  {return {};});

Is this a bug, or am I misunderstanding something?

[2014-06-11 03:51] Daniel15 opened #23 "Performance issues with server-side rendering"
Split from #13

---

---

@justengland:
I have been noticing major performance problems with react.net, our Time To First Byte is nearly 1 second. Unless we can figure it out, we will not be able to run react.net in production.

---

@Daniel15:
What is your environment (OS, .NET version)?
Are you using server-side rendering? Is the performance improved if you disable server-side rendering?

---

@

[2014-06-12 17:06] jdefontes opened #25 "MSBuild task fails in .vbproj"
Create two identical class library projects, one .csproj, one .vbproj and add the TransformJsx task. The .csproj will build, but the .vbproj will fail with the following:
[code]
VS 2012, .NET 4.5.

[2014-06-13 18:35] SixtoSaez opened #26 "SharedAssemblyVersionInfo.cs is in the .gitignore file which causes solution not to build"
Since each project's Properties references this file, the solution will not build unless it exists. As a workaround, I just added a local file containing only bogus AssemblyVersion & AssemblyFileVersion attributes. Not sure what will work for you (& your CI process) but I expect a solution that I just git cloned to build the first time. Thanks!

[2014-06-13 18:46] #26 closed, assigned to nobody

[2014-06-15 01:48] #22 closed, assigned to nobody

[2014-06-17 05:58] yashary opened #27 "ServiceStack Basic Authentication Failure"
I'm trying to utilize the basic authentication of ServiceStack but even after passing the correct credentials, I'm getting the error:
[Authenticate: 6/16/2014 4:00:22 AM]: [REQUEST: {UserName:john,Password:test}]
ServiceStack.HttpError: Invalid BasicAuth credentials at
ServiceStack.Auth.BasicAuthProvider.Authenticate(IServiceBase authService, IAuthSession
session, Authenticate request) at
ServiceS

[2014-06-17 06:18] #27 closed, assigned to nobody

[2014-06-25 00:18] paulirwin opened #28 "Access Violation Exception when running JSX handler in Visual Studio debugging session"
Please note that this is not a consistently reproducible issue AFAICT.

Occasionally, and this seems to be about on average once an hour or so during active development, when going through this process (my normal react.js dev workflow) it results in a catastrophic Access Violation Exception:
1. Start the Visual Studio 2013 debugger for my ASP.NET MVC project that uses React.NET.
2. Make some chang

[2014-07-23 17:03] jamesmblair opened #29 "MSBuild task does not output JS files to publish directory on publish"

[2014-07-27 22:04] Daniel15 opened #31 "Implicitly add "/** @jsx React.DOM */" when using JSXBundle"
When using JSXBundle, the bundle content should always be automatically prefixed with `/** @jsx React.DOM */`. At the moment, the JSX transformer will only actually run if the very first file in the bundle contains the `@jsx` annotation.

[2014-08-09 01:41] #31 closed, assigned to Daniel15

[2014-08-23 06:21] #28 closed, assigned to nobody

[2014-08-23 22:31] dax70 opened #35 "Readonly ReactSiteConfiguration"
The ReactSiteConfiguration static Configuration property is set to readonly.
The nuget package adds the following line to the ReactConfigur file

[code]

I commented out that above line of code and everything seems to be working.

This is the actual error when compiling in VS.
**Error 67  Property or indexer 'React.ReactSiteConfiguration.Configuration' cannot be assigned to -- it is read only**

[2014-08-23 23:05] #35 closed, assigned to Daniel15

[2014-09-14 22:55] gwing33 opened #37 "Server-Side Namespacing"
In React v0.11, namespacing was added in: http://facebook.github.io/react/blog/2014/07/17/react-v0.11.html#jsx-namespacing

Looks like the JsxBundle works with namespaces, but using them on the server-side does not seem to work...

[code]

Either way, amazing library!

[2014-09-15 01:45] #17 closed, assigned to nobody

[2014-09-15 01:45] #37 closed, assigned to Daniel15

[2014-09-19 12:40] dervalp opened #38 "Old Version of Newtonsoft.Json"
Would be nice to upgrade Newtonsoft.Json version to the latest.

In fact, why not MVC 5 ?

[2014-09-23 05:16] tejacques opened #39 "TinyIoCContainer Can't replace classes registered as AsPerRequestSingleton() in ReactConfig"
There are really two issues:

1.) The following code in ReactConfig.cs will throw an exception on GetObject():

[code]

This can be run only in places where HttpContext.Current is defined, because re-registering a class with AsPerRequestSingleton checks the items in the current HttpContext (I believe to remove it). This could be fixed with an `if (null != HttpContext.Current) { /* do things */ }`

[2014-10-27 00:34] #23 closed, assigned to nobody

[2014-11-01 05:26] Daniel15 opened #40 "Remove @jsx requirement for JSXTransformer"
React 0.12 removed the requirement to have `@jsx React.DOM`  at the top of JSX files, and instead always transforms them. Need to remove this from ReactJS.NET too, and update the tutorial.

[2014-11-01 05:27] #38 closed, assigned to nobody

[2014-11-01 06:00] #40 closed, assigned to Daniel15

[2014-11-03 07:39] Daniel15 opened #41 "TeamCity build is currently failing (ClearScript issues)"
Need to investigate why the NuGet package restore isn't handling the ClearScript files correctly.

[2014-11-10 03:14] #41 closed, assigned to Daniel15

[2014-11-10 05:01] #29 closed, assigned to nobody

[2014-11-10 05:02] #3 closed, assigned to nobody

[2014-11-14 01:39] lostrouter opened #44 "Object doesn't support property or method 'map'"
I am trying out Reactjs.Net and i am running into an error.  I have chosen to  forgo using jsx in favor of plain JS.  i am not sure if this is the cause of my problem, but i am following  the compiled js examples i have found in the reactjs tutorials.    array.map.js is the code found here https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map.  Do i have to use

[2014-11-14 01:52] #44 closed, assigned to nobody

[2014-11-15 14:05] MasodSaidi opened #45 "Please do not pollute my DOM"
Really like the server-side rendering but got one problem with it. Is it possible to not include the extra "react1" container div since it messes with the CSS. Would be great if there was an additional optional parameter on the helper like this:

@Html.React("HelloWorld", new {name = "Daniel"}, "my-own-container")

If the optional parameter is specified no "react1" div is rendered and the optional

[2014-11-16 05:46] lijunle opened #46 "Server-side render pops up warning about deprecated usage."
Hi,

The server-side render is good, while it still render the old style initialization usage, like [this](http://reactjs.net/guides/server-side-rendering.html):

[code]

But, this has been deprecated, as mentioned in [this post](https://gist.github.com/sebmarkbage/ae327f2eda03bf165261). The better way could be:

[code]

Please update to use the factory pattern to initialize component.

[2014-11-16 08:47] #45 closed, assigned to nobody

[2014-11-16 23:03] #46 closed, assigned to nobody

[2014-11-16 23:15] #8 closed, assigned to Daniel15

[2014-11-16 23:59] #39 closed, assigned to nobody

[2014-11-17 00:01] Daniel15 opened #47 "ASP.NET 5 (originally vNext) support"
Add support for ASP.NET 5 (formerly known as vNext)

Development branch: https://github.com/reactjs/React.NET/tree/asp5

 - [x] Integrate with its IoC container
 - [x] Create middleware for transforming JSX files (or see if OWIN middleware can be reused)
 - [ ] Add to build script
     - [ ] Get versioning of assembly working
     - [ ] Produce NuGet package
 - [ ] Write documentation
 - [ ] ???

[2014-11-17 19:15] jlchmura opened #48 "ClearScriptV8-64.dll"
I recently switched to ClearScriptV8 and am now having build problems with my TFS build server. I am getting an error that ClearScriptV8-64.dll is being used by another process, and therefore the build can't copy the file. This didn't happen with the IE engine. Killing the worker process and then starting a build solves the problem.

Is there some part of the v8 engine that isn't getting release o

[2014-11-21 17:05] jhemminger opened #50 "Allow control of the container ID"
Hi - I need to be able to control the value of the ID that is currently being generated as "react#" - I thought you may have fixed this as part of https://github.com/reactjs/React.NET/issues/45 but instead that change allows the user to define the element type.  Any chance you could include the ability to change the id?  I think others would be happy to have this ability as well.

Your code is set

[2014-11-23 04:45] #50 closed, assigned to nobody

[2014-11-24 16:35] mcharytoniuk opened #52 "Compiling all .js files with JSX using Cassette"
Hello! Thank you for React.NET. This is a great library to handle React Elements easily.

I need to find a way to compile all `*.js` files with JSX transformer (not only "*.jsx"). I found that there is a hard-coded file extension string inside `JsxBundleProcessor.cs` file:

https://github.com/reactjs/React.NET/blob/a138b75cdf4f42fb1fc8a30c75026d8b57e4d3ef/src/Cassette.React/JsxBundleProcessor.cs#L

[2014-11-25 18:05] lijunle opened #53 "Source map request return 500 when using MsieJavaScriptEngine"
After long time investigation, the following statement returns different output in IE10 and IE11:

[code]

In IE11, which looks fine (notices that `sourceMap` object is generated):

[code]

In IE10, suck... the `sourceMap` gone :(

[code]

When using MSIE JavaScript switcher in Json.Net, it is running in `ChakraActiveScript` mode, [its document][1] says `ChakraJsRt` mode leverage IE11. While I try

[2014-11-27 23:38] #52 closed, assigned to nobody

[2014-12-01 04:30] #13 closed, assigned to Daniel15

[2014-12-01 13:31] #48 closed, assigned to nobody

[2014-12-09 00:06] marcselman opened #55 "Server-Side Rendering without MVC"
Please add support for Server-Side Rendering without MVC.
Right now Html.React is dependant on MVC.

Thank you

[2014-12-09 12:32] #55 closed, assigned to nobody

[2014-12-11 22:08] dotfelixb opened #56 "Server-side with IIFE"
If your .js is using the IIFE style ReactJS fail to load the component on the server depending on how the component is scoped

example using var or window fail

(function (){
  var DivBox = React.createElement('div', null, 'Just a div')
}())

this will fail

but
(function (){
  DivBox = React.createElement('div', null, 'Just a div')
}())
without var or window will work.
why this behavior ?

[2014-12-13 23:41] RayKwon opened #57 "Can't find flow guide document"
Tried visit http://reactjs.net/guides/flow.html for flow guide document, but no luck

[2014-12-15 05:28] danrien opened #58 "Using Cassette with AddPerSubDirectory in debug mode results in DirectoryNotFound exception"
Environment (*emphasis mine*): Version Information: (*Mono*) 3.10.0 (tarball Wed Nov 5 12:50:04 UTC 2014); ASP.NET Version: 4.0.30319.17020 (*XSP*)

Steps to Reproduce:

1. Call `AddPerSubDirectory` on the directory containing the jsx files. In this specific case, it was just `Scripts`.
2. Set `debug="true"` in either the `<cassette />` tag or the `<compilation />` tag, i.e `<compilation defaultLa

[2014-12-18 03:08] Surreal9 opened #59 "edit: my mistake"
edit: nevermind!.. can't see a way to delete this myself, perhaps mod can

[2014-12-18 03:33] #59 closed, assigned to nobody

[2014-12-22 08:30] RayKwon opened #60 "AddScript("~/Script/*.*")"
It would be nice if I could add scripts like this :

[code]

Thanks in advance :)

[2014-12-22 23:12] Surreal9 opened #61 "Question about seeding initial data for server side rendering"
First off, thanks for the great library! This has been a great help in getting our .net MVC site working with React. Now on to my question..

We are working on bringing over our site into React. We have wired up server side rendering, which is working great. One thing we've come across now though, is looking at how to pass some "global"  data into the server side rendering context, without it bein

[2014-12-30 17:33] slav opened #62 "Insert localization string on the fly"
.NET has quite powerful support for string localization via resources and automatic string insertion depending on the currently selected localization resource.

I'm wondering if it's possible to take advantage of this mechanism in reactjs.net to make text in components localizable and easy to translate?

[2015-01-02 01:02] Daniel15 opened #63 "Update to React 0.12.2"

[2015-01-05 16:14] PeteDuncanson commented on #60
I've been playing with getting commonjs modules working (ala node style of writing them) and think I've managed to get it wired up both server-side and client-side.

I've ended up using a Grunt task that stitches together Browserify (where you can do *.* style of file selections so giving you that for free). You need grunt-react too.

This will generate out a single bundle.js file which has everyt

[2015-01-05 16:20] PeteDuncanson commented on #9
At the minute everything coming out from Facebook appears to be in CommonJs syntax (the Dispatcher for Flux that you released for instance) which has made me lean towards following suit for ease. Any reason why one over the other? With CommonJS you seem to be able to leverage node.js modules such as the event emitter etc. so more goodies for less effort.

All the mods you are doing all seem to be

[2015-01-07 11:01] domenu commented on #53
Same here, getting HTTP 500 (Unable to generate source map) in chrome...

[2015-01-08 18:32] PeteDuncanson opened #64 "React Router server side?"
I've been playing with React Router today and it occurred to me that it might not actually work with ReactJS after reading this post:

https://github.com/rackt/react-router/blob/master/docs/guides/server-rendering.md

I've been hitting issues even getting the router to run, before I dig anymore does anyone know if this is even possible yet?

[2015-01-08 21:53] Daniel15 commented on #53
@ashic Installing `React.JavaScriptEngine.ClearScriptV8` should be sufficient to force V8.

[2015-01-11 05:51] #63 closed

[2015-01-11 06:01] Daniel15 commented on #64
Unfortunately this isn't something I've thought a lot about yet. I've only really used ReactJS.NET for  rendering parts of the page, I haven't tested it out with any routing libraries. To be honest, isomorphic rendering is still in its infancy and I'd still consider the server-side rendering in ReactJS.NET somewhat experimental. I haven't seen a lot of work done for server-side rendering in enviro

[2015-01-11 06:14] #57 closed

[2015-01-12 04:16] RayKwon commented on #64
@PeteDuncanson, I also have considered to use react-router in server side with asp.net, but failed as you mentioned.
But I changed the way little bit different with PushState in Client Side and it works for my case.
Here is the sample asp.net project I created.
https://github.com/RayKwon/HybridRendering_React_Backbone

[2015-01-12 14:31] PeteDuncanson commented on #64
@Daniel15 I've been doing some deep deep mining on this one :)

I'm hitting issues at the minute with simply not knowing enough about packaging up CommonJS modules. ReactRouter uses require to get to React and as a result I need to browserify it all up but that causing me to have to pull in 2MB of js which is plain silly when I have to push the same stuff down the wire to the client. I'm sure ther

[2015-01-13 15:41] spicydonuts commented on #9
I have a similar use-case.  My react toolchain is in place, resulting in a bundle.js file that I include through BundleConfig.  If I try to add bundle.js in ReactConfig I get this error: "Error while loading "~/Scripts/browserify/dist/bundle.js": 'document' is undefined"

I guess all I want from ReactJS.Net is server-side rendering, because all my dependencies are in that bundle.

[2015-01-15 21:12] PeteDuncanson commented on #64
Right, quick update and a query about where best to go.

ReactRouterComponent works server-side but trying to get it bundled up was causing no end of problems, it kept pulling in React itself and other nodes bits and bobs (its all build using CommonJS modules so made sense to go that route). But after a day of battling it I backed off and changed tact.

Latest idea is to return back to React-Route

[2015-01-15 22:32] PeteDuncanson commented on #60
I've been playing again. I've been having terrible trouble getting my bundled files down to a sensible size as everything I'm using want to pull in React via the require("react") method in CommonJS. This is really clear when pulling in ReactRouter. By not being able to include re-usable components using require you miss out on so much but by having ReactJS injected by ReactJS.net globally its caus

[2015-01-16 05:33] Daniel15 commented on #60
Thanks for the info :)

Things that are legitimately global to the app and won't change are fine (so components are okay). In #61 I was talking about per-request data.

Interesting approach, let me know how you go! I'm actually considering testing out Gulp + ReactJS.NET and making the process easier.

[2015-01-16 05:37] Daniel15 commented on #64
Thanks for investigating!

[ClearScript](https://clearscript.codeplex.com/) lets you call .NET methods from within the V8 JavaScript engine. However, ReactJS.NET is currently built to allow switching between multiple different JavaScript engines, so it can't really easily use functionality specific to any one particular engine. If you hack it and hard-code V8 rather than using JavaScriptEngineSwit

[2015-01-18 22:51] Daniel15 commented on #16
Fixed with #69

[2015-01-18 22:51] #16 closed

[2015-01-19 06:14] Daniel15 commented on #9
Added a Webpack example here: https://github.com/reactjs/React.NET/tree/master/src/React.Sample.Webpack. I'll also be writing a blog post about Webpack + ReactJS.NET soon. I'm going to close this task.

@PeteDuncanson:

Yeah internally we use CommonJS so generally you'll find all JavaScript libraries released by Facebook will use CommonJS syntax. Having said that, they're always usable without hav

[2015-01-19 06:15] Daniel15 commented on #9
Added a Webpack example here: https://github.com/reactjs/React.NET/tree/master/src/React.Sample.Webpack. I'll also be writing a blog post about Webpack + ReactJS.NET soon. I'm going to close this task.

@PeteDuncanson:

Yeah internally we use CommonJS so generally you'll find all JavaScript libraries released by Facebook will use CommonJS syntax. Having said that, they're always usable without hav

[2015-01-19 06:15] #9 closed

[2015-01-19 17:27] delaneyj opened #71 "Owin support/documentation?"
Coming from a node.js world but would love to use ReactJS with Nancy and an Owin container.  Are there any gotchas I should be concerned with?  This might be related to the vNext support issue.

[2015-01-19 18:40] PeteDuncanson commented on #64
Got with working using the timed polling method I mentioned. Might refactor it to use the method calls out to .net as you suggest once I've had a bit more of a play around with the Router client-side. Next issue is to get the data used to render it server-side to appear client-side which I'm hoping is going to be an easy one.

Check out latest commits if you want a peek and see any improvements :)

[2015-01-19 21:42] Daniel15 commented on #71
Hi @delaneyj! OWIN support was only merged last night in #69. Currently there's no documentation on how to use it, and I actually haven't tried it out myself. As far as I can see, this only covers JSX transformation (built on top of `StaticFileMiddleware`), it doesn't cover server-side rendering.

cc @mandrek44 - It would be good to get some basic documentation on this functionality :)

[2015-01-19 21:57] mandrek44 commented on #71
@delaneyj there's a sample showing the server-side JSX transformation with OWIN: https://github.com/reactjs/React.NET/tree/master/src/React.Sample.Owin

Regarding the server-side rendering - Katana has no built-in rendering mechanism, however you can use Razor manually and could probably use the same mechanism as in MVC for sever side rendering. I'll investigate.

@Daniel15 I'll try to add some do

[2015-02-01 09:27] coyaniv opened #74 "React.Net on visual studio 2015 - Asp.net 5 project"
Does it support the new asp.net 5 ?

[2015-02-01 09:28] Daniel15 commented on #74
Not yet, it's something I still need to look into. This will be tracked in #47

[2015-02-01 09:28] #74 closed

[2015-02-01 20:56] lukemcgregor commented on #47
I'm really keen to see this. I had a quick crack at getting it going but I ended up going down the rabbit hole a bit.

It will require (as far as I can tell):
 - a new React.Web.Mvc6 project (using vNext .net)
 - Re-compilation of the React and React.Web in .net 4.5 or vnext (required to reference them in the Mvc6 project)

The second is a little tricky as it basically means dual compilation or up

[2015-02-02 00:18] Daniel15 commented on #47
We'll need a new `React.Web` project but why would `React` itself need to be recompiled? Surely ASP.NET v5 can reference .NET Framework 4.0 assemblies?

[2015-02-02 21:08] lukemcgregor commented on #47
I think you might be right, I had a go at making it work but couldn't work out how to tell it not to build the .net core version of the project, so there's a couple of errors still. I needed to create wraps to even get it to reference the other projects which is a bit weird also.

I did also need to change IHtmlString -> HtmlString also as the interface no longer exists in the new MVC.

Anyway whe

[2015-02-03 06:30] Daniel15 commented on #47
I ordered a new external hard drive to give me enough hard drive space for another Windows VM and to install the Visual Studio 2015 preview :P

I'm going to be on holiday from 6th to 16th February but I'll probably pick this up when I return.

Yeah I think IHtmlString is part of System.Web which is no longer used with ASP.NET 5. This can probably be handled with conditional comments in the code.

[2015-02-03 23:53] andycmaj opened #75 "Issues including external scripts for use as webpack external dependencies"
Getting a server-side error message trying to render a react component that depends on React-d3.js.

Error:
<pre>
Error while loading &quot;~/scripts/externs/react-d3.min.js&quot;: ReferenceError: document is not defined
    at Script Document [7]:9:29125 -&gt; 3_array=function(list){return d3_arraySlice.call(list)},d3_document=document,d
    at Script Document [7]:13:26437
    at s (Script Docume

[2015-02-03 23:55] Daniel15 commented on #75
The `document` global doesn't exist in a server-side JavaScript environment, and you'd encounter the same issue on any other server-side environment (eg. Node.js too). It's part of the browser object model. You'll need to find the code that's accessing `document` and figure out what it's trying to do and if it can be modified to handle server-side execution.

[2015-02-04 00:01] andycmaj commented on #75
Looks like it's JSDOM in this case... I think I might just have to include jsdom as a ReactConfiguration script...

[2015-02-04 05:20] Daniel15 commented on #75
You should be able to get Webpack to bundle react-d3 and all its dependencies (including JSDOM) into the one bundle.

[2015-02-06 19:20] daelliott opened #76 "Case Sensitivity"
Not sure where this issue belongs and couldn't find a better place to request help.

I am new to React and have been playing with tutorials.  I was working with this one http://www.syncano.com/getting-started-reactjs-tutorial/ and converted it using the ReactJS.NET framework.

I have it up and running but took some work to figure out what was going on.  After getting everything in the right place

[2015-02-08 03:37] c0state opened #77 "SharedAssemblyVersionInfo referenced but not in solution"
There is a SharedAssemblyVersionInfo.cs file referenced in the cspoj files but I don't see it in the root of the solution where it's expected.

[2015-02-08 03:48] #77 closed

[2015-02-08 05:45] Daniel15 commented on #77
It's generated by build.bat. Once it's generated, you can build from Visual
Studio directly. This is documented in the readme and also on the website
:)

Sent from my mobile.
On Feb 7, 2015 10:48 PM, "Stephen" <notifications@github.com> wrote:

[2015-02-08 21:50] c0state commented on #77
Sorry, my bad--should have looked deeper first :)

[2015-02-11 12:13] PeteDuncanson opened #78 "Performance and Garbage Collection"
Hi Daniel,

We've been running some performance tests on a site we are hoping to go live with next month and noticed each request is gobbling roughly 4MB of unmanaged memory each time that I'm trying to track down.

In our work we tried a few things but I'd love your thoughts. I think a fix is possible I just wanted to run some stuff by you if possible.

* We've got a tool thats throwing 15 concur

[2015-02-11 13:32] PeteDuncanson commented on #78
Switching to use a new engine per request certainly sorted out the memory issue at the expense of hitting the CPU a little harder. Happy with that :)

[2015-02-11 15:57] Daniel15 commented on #78
In that case it sounds like JSPool should recycle the workers periodically. The issue with creating one engine per request is that every request is a bit slower as it needs to load all the JavaScript again. You can definitely leave that option enabled if it helps your use case though (the pooling may still have some bugs which is why I left an option to disable it).

I'm currently on vacation but

[2015-02-11 16:27] moranms opened #79 "Invalid checksum with server-side rendering"
Hi, I've implemented server-side rendering for my react components, following the tutorial. I am also using the SignalR library to perform frequent client-side updates to the React components states.

I'm seeing the following error when my page initially loads:

It appears the issue is a result of using javascript functions to format my data model in the render method. So for example, I have:
[cod

[2015-02-11 17:39] PeteDuncanson commented on #78
We've been using the same bit of kit here, trouble is it can't give you any details about the unmanaged memory other than how much you are using. Still its certainly helped.

Still seeing quite a ram up in unmanaged memory usage but then it settles down after a while bobbing around with about 300Mb being used or there abouts.

Requests are slower too, might need to do some more digging. I "think"

[2015-02-11 18:14] PeteDuncanson commented on #79
When you get this its not the end of the world, it just means React has to re-draw everything again client side. Always nice to get rid of it though if possible so lets do some digging.

One issue you might have is the time that it should be comparing the date from, this could be greatly different depending on the clients time on their device compared to the time on the server (or timezone). If yo

[2015-02-11 19:14] shadowii opened #80 "Can't seem to get clearscript to work after deploy"
The basic reactjs.net packages work fine, so I decided to try out V8. I installed the React.JavaScriptEngine.ClearScriptV8 through the package manager. However, after deploying to our web server, I continually get the following error:

After copying over those files to both the bin directory and the site's root directory, the error simply changes to a different one:

Any ideas? I should note that

[2015-02-12 09:49] steroberts89 commented on #80
Hey,
Ensure you have this installed on your webserver http://www.microsoft.com/en-us/download/details.aspx?id=30679 (Visual C++ Redistributable for Visual Studio 2012 Update 4)

It's bundled with Visual studio which is why it'll be running locally!

Cheers

[2015-02-13 15:12] roblom opened #81 "Integration with VS 2015 not working on aspnet 5 project"
This "Install-Package React.Web.Mvc4" installs without errors but there is no transformation happening on the jsx files, and with the absence of web.config there is no httpHandler to uncomment.
(I guess there is no claim that this will work in VS 2015 preview and particularly on an aspnet 5 project.)

If possible with today's release, what is required of manual setup/code in order to get this work

[2015-02-13 15:26] PeteDuncanson commented on #81
Daniel has not had time to looking VS 2015 as yet but there are some details here https://github.com/reactjs/React.NET/issues/47 that might help you. I fear you are on your own at the minute on this path less travelled :)

[2015-02-13 16:15] Daniel15 commented on #81
I installed the VS2015 preview right before going on vacation so I haven't
had a chance to play around with it. I'll be back on 17th February.
Currently ReactJS.NET only supports released versions of ASP.NET, not the
latest preview version. A lot has changed in the preview.

Sent from my mobile.
On Feb 13, 2015 10:26 AM, "Pete Duncanson" <notifications@github.com> wrote:

[2015-02-13 17:00] daniellmb commented on #60
Are there performance issues with loading *everything* server-side? Has anyone done performance benchmarks? I want to use ReactJS.NET for progressive enhancement, but I'm concerned about exporting a large jsx codebase server-side. Not only for the reasons mentioned here but also it seems that it wouldn't scale well. Perhaps a modular dependency system that can be request based would help manage th

[2015-02-13 17:16] PeteDuncanson commented on #60
React.net out the box will use 20 engines but it will only load React once per engine to save on that parsing. After that its just your code that it has to parse and work with each request.

The current set up we have with ReactJS is something like this. We compile everything down to one bundled file which includes all our code, React and React-Router. Basically everything it needs to run. We've h

[2015-02-13 17:39] daniellmb commented on #53
Yep installing ClearScript fixed it for me...

[2015-02-13 21:58] daniellmb opened #82 "Bundling minification not working for ES6"
When running in debug mode, everything is fine but when switching to release I get this error and an incomplete JavaScript file. I'm guessing looking at the error that this is because the file hasn't been transpiled first. Am I missing something, is there a way to control the pipeline?

[code]

[2015-02-13 22:03] Daniel15 commented on #82
I'm on vacation at the moment but I can take a look once I'm back on 17th
Feb. What minifier are you using? The ASP.NET minification?

Sent from my mobile.
On Feb 13, 2015 4:59 PM, "Daniel Lamb" <notifications@github.com> wrote:

[2015-02-13 22:23] daniellmb commented on #82
Yes sorry I should have been clear this the default bundling and minification.

[code]

[2015-02-13 22:40] Daniel15 commented on #82
You need to use JsxBundle rather than ScriptBundle. This should be in the
documentation on the website :)

Sent from my mobile.
On Feb 13, 2015 5:23 PM, "Daniel Lamb" <notifications@github.com> wrote:

[2015-02-13 22:50] daniellmb commented on #82
*facepalm* sure is... http://reactjs.net/guides/weboptimizer.html
Once I installed that it works like a charm!

[2015-02-13 22:50] #82 closed

[2015-02-14 03:23] daniellmb commented on #82
Thanks for your help, my demo app is live now :) https://github.com/daniellmb/React-PE

[2015-02-17 19:11] shadowii commented on #80
Thanks, I'll give that a whirl

[2015-02-17 19:11] #80 closed

[2015-02-17 19:42] shadowii commented on #60
@PeteDuncanson Did you ever write up that blog post? I decided to try the gulp/grunt route as well, and ran into the same issue where Reactjs.net can't see the modules anymore post bundling. Would love to see more details on how you handled that.

[2015-02-17 20:06] Daniel15 commented on #60
It will actually only load your code once per engine too. Loading a lot of code should only affect the first request that uses that particular engine, requests after the first request should still be very fast. This assumes you're using JavaScript engine pooling (which is turned on by default).

It depends which one of the many //many//  module systems you're using :)

With Webpack, none of the mo

[2015-02-18 05:41] Daniel15 commented on #80
Sorry about that, there should probably be more documentation. Initially V8 was only supported on Linux and Mac OS (via Mono), the Windows support via ClearScript is a fairly recent addition. If you get a chance, feel free to submit a pull request adding more documentation (or just ask me to do it) :)

[2015-02-18 05:41] Daniel15 commented on #80
Sorry about that, there should probably be more documentation. Initially V8 was only supported on Linux and Mac OS (via Mono), the Windows support via ClearScript is a fairly recent addition. If you get a chance, feel free to submit a pull request adding more documentation (or just ask me to do it) :)

[2015-02-18 05:45] Daniel15 opened #83 "Experiment with debugging in V8"
JavaScriptEngineSwitcher added support for V8 config in https://github.com/Taritsyn/JavaScriptEngineSwitcher/issues/8, including the ability to use the debugger. Experiment with what it would take to use this for debugging server-side rendering.

Reference: https://pandeysk.wordpress.com/2014/05/25/debugging-with-clearscript/

[2015-02-18 05:49] Daniel15 commented on #82
Nice, glad to hear you could get it working!

[2015-02-18 06:02] Daniel15 commented on #79
The error actually means that the `render` method returned something different when called server-side than when it was called client-side. These should be returning the same thing. This points to an issue in the JavaScript. Try turning off JavaScript in your browser and loading the page (so it's only rendered server-side). Then in a separate tab, turn on JavaScript and load the page. Put the two

[2015-02-18 06:02] #79 closed

[2015-02-18 06:05] Daniel15 commented on #76
Hey @daelliott  - Do you see lowercase `classname` in any of the documentation or tutorials? React JSX compiles to regular JavaScript, and thus it requires `className` (uppercase `N`) to maintain consistency with the DOM. This is how it is mentioned in all the documentation.

[2015-02-18 06:07] Daniel15 commented on #75
Going to close this issue because this is an issue with the scripts rather than ReactJS.NET itself. Please feel free to continue using the issue for discussion, even after it is closed. Thanks!

[2015-02-18 06:07] #75 closed

[2015-02-18 06:08] Daniel15 commented on #56
The documentation page on Webpack touches on this when using Webpack: http://reactjs.net/guides/webpack.html. Documentation for other module systems or "vanilla" IIFEs can be added in the future if we like. Closing this out. Thanks!

[2015-02-18 06:08] #56 closed

[2015-02-18 06:09] Daniel15 commented on #62
An interesting question. None of the projects I've worked on at the past have used .NET string localization (nor did my previous employer).  Can you show an example of how you'd use it today?

[2015-02-18 08:34] yuvalsaraf opened #84 "Referenced assembly 'System.Web.Optimization.React' does not have a strong name"
Hey,
The lastest version of 'System.Web.Optimization.React.dll' (1.3.0.0) was not signed during build.
Can you fix that?
Thanks!

[2015-02-18 08:43] Daniel15 commented on #84
Good catch, looks like System.Web.Optimization.React has never been signed. Thanks for reporting!

[2015-02-18 13:45] PeteDuncanson opened #85 "V8 compile scripts if reused?"
Not sure if this is a JSPool thing or a React.net thing but been reading about compiled scripts. From my understanding these are the parsed version of a script, that parsing takes time so by caching the resultant "byte code" and passing that into the ClearScript engine you can save on that parsing time. As the user scripts are re-used over and over it might be worth looking into saving these down

[2015-02-18 15:34] PeteDuncanson commented on #75
We've taken to bundling everything (React in our case React-Router) into one bundle and then just including that one bundle in our React.config scripts. We've a fork of React.net which doesn't include React so it just runs our bundle. Seems to work pretty good and removed a lot of the headaches we had with "external".

[2015-02-18 15:43] PeteDuncanson opened #86 "Get the console shim to actually do something useful"
We've found on a few occasions points where a little console statement would have made debugging so much easier.

Currently for server-side rendering a shim is included for console. I'm pondering two possible solutions that could be handy here. One is to allow the console statement to write to log4net or similar the other is to have the console statement append to an array and then if in debug mod

[2015-02-18 17:53] PeteDuncanson commented on #60
@shadowii I was going to write something but then @Daniel15 beat me to it with is post which cover most of it. Could still write something up though to share the pain. In short Webpack is the way to go :)

[2015-02-18 18:25] snowjim opened #87 "Problem to debug"
Hi,

React renders at server side and if there is exceptions we get a Server Error in '/' Application page. This page do give some info about the problem but the location are not correct.

This is how the exception looks like :

Server Error in '/' Application.

In file "~/Scripts/Grid.jsx": Parse Error: Line 22: Unexpected token . (at line 22 column 23)
Line: 52
Column:3

Description: An unhandle

[2015-02-18 18:36] PeteDuncanson commented on #87
Hi @snowjim, the compilers telling you correctly as it understands it I believe, some JS bugs can be nasty to track down as they might be caused by errors further up. This one is a classic. When you get an error like this it at least lets you know that you have a syntax error or typo above that line somewhere. The parser works top down so it got to line 22 before it said "wait a minute" something

[2015-02-18 18:39] jslatts commented on #86
Serious +1 on this! I have a somewhat decent workflow going, but every once in awhile, I run into an issue where the server-side rendering blows up and I am forced to pour over my code to try and figure out what is wrong. I was actually going to post an issue here to ask if I was doing it wrong.

I would be ok with either method, but I think having it spit the log messages out into a div would be

[2015-02-18 18:42] snowjim commented on #87
Yes, thats correct, its the problem but what I really asking if there is a easier way to find problems like this? This is more important if make a lot of changes without checking it first, it could be a nightmare. Cut out and test if the code runns is a last resort, is there no other way to get more precis info? I suspect that Im spoiled with the .NET ;)

[2015-02-18 18:43] Daniel15 commented on #86
The issue with calling back into .NET code is that there's no cross-engine way of doing it. ClearScript and VroomJs have different ways of doing it, but I don't think the MSIE engine supports it. I wonder if it could be added to JavaScriptEngineSwitcher. Alternatively I could just move to only supporting V8.

I love the idea of converting them to client-side console calls though! That should defin

[2015-02-18 18:47] Daniel15 commented on #87
I'm going to try to see what can be done to make debugger easier

Have you tried the V8 engine (`React.JavaScriptEngine.ClearScriptV8` on Windows or `React.JavaScriptEngine.VroomJs` on Linux and Mac OS)? It tends to give better error messages than the MSIE engine.

[2015-02-18 18:49] Daniel15 commented on #85
At the moment, I think it would have to be added to [JavaScriptEngineSwitcher](https://github.com/Taritsyn/JavaScriptEngineSwitcher) first, as that's the abstraction layer I'm using for JavaScript engines. Perhaps I should switch to using V8 directly rather than JavaScriptEngineSwitcher? I'm using two different V8 integration libraries (ClearScript on Windows and a fork of VroomJs on Linux and Mac

[2015-02-18 18:51] Daniel15 commented on #75
If using Webpack, you can mark React as an external script in your config:

[code]

This means you can use the bundled React version for server-side rendering, and a version off the Facebook CDN for client-side rendering. Up to you though, bundling React is also a fine approach :)

[2015-02-18 19:42] shadowii commented on #60
@Daniel15 @PeteDuncanson Thanks to both of you for the help, it's putting me on the right track.

Pete, does this mean you switched from Browserify to Webpack? They're both fairly new to me. Before I go and contemplate switching to Webpack, just for the sake of posterity, can you explain how you got it working with Browserify? I used the standalone option, and it does seem to put it into the globa

[2015-02-18 21:01] evenkiel commented on #53
+1. Installed React.JavaScriptEngine.ClearScriptV8 via nuget to my MVC project and the 500 errors went away. Thanks!

[2015-02-19 19:59] snowjim commented on #87
I have now installed V8 engine and it do give me another expcetion explaination but it is still not any better. Look at this code :

var FeedTopic = React.createClass({
	    render: function() {

	        return (
	        	<div className="topic">
	        		<div className="tUImgLnk">
		        		<a title={this.props.data.UserName} target="_blank" href={this.props.data.UserInfoUrl}>
		        			<

[2015-02-20 05:53] spicydonuts opened #88 "Cannot access a disposed object"
Hello!  I'm using browserify to build my client and server bundles.  When I change a file it triggers a build.  If I refresh the page instantly I get an error about the js file bein locked, which makes sense and is probably unavoidable (unless it can catch that and keep retrying).  Then there is a period of a few seconds after that where I will get the error below.  If I wait longer or refresh aga

[2015-02-20 06:22] Daniel15 commented on #88
Sounds like it could be an issue with JSPool not having sufficient locking when it recycles engines (it recycles all the JS engines whenever any of the loaded files change). I'll take a look this weekend.

[2015-02-20 06:25] spicydonuts commented on #88
I wandered through the source a bit and found the same thing.  This probably wouldn't be an issue in production environments where the file isn't changing, would it?  Any other reasons it would get disposed?

[2015-02-20 10:38] PeteDuncanson commented on #88
I've been getting this one on and off but could not find the cause, would be nice for it to not throw this error on live. Doing a deploy for instance would potentially give this error to live customers which I'd rather avoid (plus of course preventing a client from seeing this for confidence reasons).

[2015-02-21 05:56] Daniel15 commented on #81
Closing in favour of #47

[2015-02-21 05:56] #81 closed

[2015-02-21 05:58] Daniel15 commented on #47
So far I've created a new `React.AspNet5` ASP.NET 5 Class Library project but I can't figure out how to make it reference the core `React` project. Apparently referencing csproj projects from kproj projects should work in the latest version of Visual Studio so this should definitely work.

I'm trying to use `IReactEnvironment` but I keep getting "The type or namespace name 'IReactEnvironment' coul

[2015-02-21 07:48] Daniel15 commented on #47
I got past that, the next hurdle is hooking ReactJS.NET's dependency injection container (using TinyIoC) into the ASP.NET dependency injection container. I've managed to get dependencies registering as scoped (per-instance) but they're not being disposed correctly. I'll investigate more tomorrow, and post what I've done in a separate branch if I get anything useful :)

[2015-02-21 20:29] Daniel15 opened #89 ""Object doesn't support property or method 'defineProperty'""
I'm getting this error when I run the included sample with the MSIE engine:
[code]

Works fine with V8. There's no calls to `defineProperty` in `Sample.jsx` directly so I imagine it's something in React itself :/

[2015-02-21 22:54] Daniel15 commented on #15
Haven't received any requests for this and ServiceStack is now commercial so its usage will probably drop compared to the Microsoft stack. Closing.

[2015-02-21 22:54] #15 closed

[2015-02-21 22:55] Daniel15 commented on #47
Initial set of changes in 5d48be69759baa1795b5fd8f3cf9860bbd2c0dbf. With these changes I was able to run an ASP.NET MVC 6 site and use server-side rendering. I still need to add the pieces to the build script.

[2015-02-21 23:36] #84 closed

[2015-02-22 00:15] #86 closed

[2015-02-22 00:19] Daniel15 commented on #86
Implemented a basic version in eff1c2b134ac47771c6991d180cb7908ffffd6d1. This will catch all the console calls made server-side and output them as part of the JS init code (`@Html.ReactInitJavaScript()` in ASP.NET MVC). I can add a separate method that gets just the log calls if there's a valid use case for that :)

[2015-02-22 00:28] #89 closed

[2015-02-23 00:17] Daniel15 commented on #88
@spicydonuts  - Can you please try upgrading JSPool to 0.2 and see if you encounter the same issue? I fixed an issue there that might be related.

@PeteDuncanson - For a live deployment I'd probably deploy to a separate directory, do smoke testing on it, and only flip over when the push is complete and verified working. This is normally called [blue-green deployment](http://martinfowler.com/bliki/

[2015-02-23 00:42] Daniel15 commented on #85
I think the pooling provided by JSPool should be sufficient for now. If we wanted to implement better V8 compilation then either that should be added to JavaScriptEngineSwitcher or we should switch to using ClearScript (for Windows) + VroomJs (for Mac OS and Linux) directly. I like the abstraction layer JavaScriptEngineSwitcher provides, but it makes it more difficult to do anything engine-specifi

[2015-02-23 00:42] #85 closed

[2015-02-23 00:47] Daniel15 commented on #25
I'm going to close this out since I haven't been able to replicate the issue, and haven't received any other reports of it. Let me know if you still encounter this on the latest ReactJS.NET version!

[2015-02-23 00:47] #25 closed

[2015-02-23 10:53] PeteDuncanson commented on #85
I found the additional repo for JavascriptEngineSwitcher needed to do our debugging and optimising a bit of a chore plus the chances of getting PR accepted get stretched as our stuff is pretty specific to V8. As the code is only parsed once then left in the pool the gains of compiling would be minimal I suppose.

[2015-02-24 22:37] rdebeasi opened #90 "Is it ok to refer to compiled JSX files in ReactConfig.cs?"
The react config file recommends that developers add references to JSX files:
[code]

Is it okay (or even preferable) to refer to the compiled files here instead? In my case, We're compiling JSX files to JS using grunt as part of our build process.

Do we get any performance benefits by referring to the compiled files instead of the JSX files? I assume that React.NET will compile JSX for use on th

[2015-02-24 22:44] Daniel15 commented on #90
Go ahead and use compiled files there, that's perfectly fine. Just make sure there's no client-specific code in your bundles (eg. definitely don't include jQuery or anything else that touches `document` in there). I cover this in [the Webpack docs on the site](http://reactjs.net/guides/webpack.html) and might eventually add docs for Gulp/Grunt too.

Using precompiled files does result in performan

[2015-02-24 22:49] Daniel15 opened #91 "Add way to AddScript without transforming it"
It's becoming more and more common to use external build systems (Gulp, Grunt) or bundlers (Webpack, Browserify) that handle the JSX transformation. The output of these can be loaded directly into ReactJS.NET as it's just vanilla JavaScript. Currently ReactJS.NET still loads JSXTransformer and runs the file through it, even though it's not necessary as the transformation has already occured extern

[2015-02-25 04:52] abe238 commented on #91
.AddScriptWithoutTransform("~/js/server.bundle.js")

[2015-02-25 04:53] Daniel15 commented on #91
The only problem I had with that is it's quite long, but at least it describes what it's doing (and you'd probably only have one bundle file you're adding anyways)

[2015-02-25 05:18] Daniel15 commented on #90
Going to close this since it's just a discussion/question, but please feel free to reply if you have any further questions. Thanks!

[2015-02-25 05:18] #90 closed

[2015-02-25 10:37] PeteDuncanson commented on #91
+1 .AddScriptWithoutTransform("~/js/server.bundle.js")

[2015-02-25 16:58] glikoz opened #93 "Could you upgrade ReactJs to v0.13?"
http://www.productiverage.com/typescript-es6-classes-for-react-components-without-the-hacks

I want to use this approach, with or without TypeScript is big difference for me?

[2015-02-25 17:14] Daniel15 commented on #93
Sorry, not going to include an RC version of React. I'll update React once
the final release of 0.13 is out, which should be pretty soon. :)

Sent from my mobile.
On Feb 25, 2015 8:58 AM, "glikoz" <notifications@github.com> wrote:

[2015-02-26 07:17] Daniel15 commented on #47
Moving to pull request https://github.com/reactjs/React.NET/pull/94

[2015-02-26 07:17] #47 closed

[2015-03-01 04:17] Daniel15 opened #96 "Stop bundling MSIE JS engine by default"
- Pull MSIE support out into separate package
 - Require user to select the engine they'd like to use (still allow MSIE as an option)

[2015-03-01 05:37] Daniel15 opened #97 "Upgrade to JSPool 0.2"

[2015-03-02 05:26] Daniel15 commented on #97
Done in fe639046c94aa94a967e5b856bd688a6cf746d57

[2015-03-02 05:26] #97 closed

[2015-03-02 05:26] Daniel15 commented on #96
Done in fe639046c94aa94a967e5b856bd688a6cf746d57. I've still kept MSIE but have also bundled V8 by default.

[2015-03-02 05:26] #96 closed

[2015-03-02 17:29] jlchmura commented on #80
Note that the latest release of ClearScript no longer supports VS2012, so the VS2013 C++ runtimes must be installed now: http://www.microsoft.com/en-us/download/details.aspx?id=40784

[2015-03-03 12:00] PeteDuncanson commented on #78
Just a little feedback on this one. We been playing with clearing out the global vars before we hand the engine back to the pool (as shown here https://clearscript.codeplex.com/discussions/461288#PostDetailsCell_1104949) and saw the memory usage greatly reduced. Seems doing that allows GC in V8 to kick in and do its thing. Might be worth considering?

On a side note we've been playing with just us

[2015-03-04 08:12] glikoz opened #98 "Could we use React Routing mechanism both server and client side?"
Could you give sample for it? Is it possible?

[2015-03-07 06:36] Daniel15 commented on #98
I think @PeteDuncanson was attempting to use React Router from ReactJS.NET, although I'm not sure how far he got with it.  I don't know how difficult it would be to do.

[2015-03-07 06:40] Daniel15 commented on #78
@PeteDuncanson

Interesting, is the memory usage considerably reduced when you do that compared to when you just do `engine.CollectGarbage(true)`?

You mean rather than through JavaScriptEngineSwitcher? In theory JavaScriptEngineSwitcher shouldn't significantly affect performance. I wonder where it'd be slowing down.

You could probably modify JSPool to use V8 directly :)

[2015-03-07 13:53] PeteDuncanson commented on #98
It's doable but we needed to write a new method to do it as router needs to be passed the URL.

Our fork has the mods in if you want to take a look.

@daniel15 been playing with ideas for making the js code a bit more flexible. Latest idea is to pass in some variables to the engine for URL (and anything else that might be handy) then have a file with the js to run react rather than having it hard

[2015-03-07 13:56] PeteDuncanson commented on #78
Calling garbage collection didn't do much as the refs to the bars are still there. Clearing those out and then calling GC made a big difference. It's running really well without a pool at the minute. Got render time down from .5 to .18 seconds. Could do more with pooling though I think. Like the idea of using js pool. Will take a look

Sent from my iPhone

On 7 Mar 2015, at 01:40, Daniel Lo Nigro

[2015-03-08 04:06] jkmuka opened #99 "JSX does not transform with MSBuild"
I added the nuget package to my project and verified the targets below were in the TransformJsx.proj but no jsx has transformed prior to the browser and there are no errors or build messages

	<UsingTask AssemblyFile="$(OutputPath)\React.MSBuild.dll" TaskName="TransformJsx" />
	<Target Name="TransformJsx">
		<TransformJsx SourceDir="$(MSBuildProjectDirectory)" />
	</Target>

[2015-03-08 15:08] jkmuka commented on #99
After restarting VS I see that it does the transforms now

[2015-03-08 15:08] #99 closed

[2015-03-08 21:06] Daniel15 commented on #99
Visual Studio probably had to reload the MSBuild file :)

[2015-03-09 14:14] villanus opened #100 "asp.net web pages requirements"
what are the requirements of running with web pages and not mvc?

[2015-03-09 15:23] Daniel15 commented on #100
That's a good question, I've never used Web Pages before. I know it uses
Razor but does it use the same HtmlHelpers as MVC? Try installing the
ReactJS.NET MVC package and seeing if that works.

Sent from my mobile.
On Mar 9, 2015 7:22 AM, "Frank" <notifications@github.com> wrote:

[2015-03-09 23:53] tulbox commented on #58
I also can confirm this, but in my case, it's for a scenario as per the following:

           var react = new[]
            {
                "~/content/js/react/react.js",
                "~/content/js/react/react-bootstrap.min.js",
                "~/content/js/react/shipping.react.jsx"
            };
            bundles.Add<ScriptBundle>("admin.js", react, x => x.PageLocation = "admin");

Ditt

[2015-03-11 13:18] radenkozec opened #101 "React.NET not working on ASP.NET 5 and MVC 6"
I have followed tutorial on http://reactjs.net/getting-started/aspnet5.html
to use React with ASP.NET 5.
I cannot make it work. (I have used Reactjs.NET on ASP.NET MVC 5 successfully)

I am just getting blank page. (no info in console) and don't have react tab in chrome develop tools.
Can you please upload a simple project (hello world) where you have managed to run it in ASP.NET 5 so I can try to

[2015-03-11 15:22] Daniel15 commented on #101
Do you see any errors in the Visual Studio output window?

There's a sample project in the React.Sample.Mvc6 project in the
repository. Clone the project, run dev-build.bat, then you can open the
solution in Visual Studio.

Sent from my mobile.
On Mar 11, 2015 6:18 AM, "Radenko Zec" <notifications@github.com> wrote:

[2015-03-11 15:50] radenkozec commented on #101
There is no errors in the Visual Studio output window.
I will try figure out what's wrong from your project.
Thanks for help.

I will post update soon.

On Wed, 11 Mar 2015 at 16:22 Daniel Lo Nigro <notifications@github.com>
wrote:

[2015-03-12 16:40] glikoz commented on #93
0.13 is out :)

[2015-03-12 19:39] jlchmura opened #102 "iisexpress.exe crashing with TargetInvocationException"
While working with my project, the iisexpress.exe frequently crashes on me when a request is made.  It may be irrelevant, but often .js files have been changed in my project since the last successful request, though they are all in folders that are not being process/packaged by react.net.

VS2013 Update 4, Windows 8.1 x64, multiple processors.  Happens with React 1.4.0 and 1.3.0.

Here are the det

[2015-03-13 00:07] Semblant opened #104 "TransformJsx task failing unexpectedly."
Hi all,

I'm getting a handful of errors when attempting to build a Web API project (ASP.NET 4).
![image](https://cloud.githubusercontent.com/assets/4534713/6630748/9e3f7eb6-c8d9-11e4-8240-7c02db003f90.png)

I am using the default TransformJsx.proj:
![image](https://cloud.githubusercontent.com/assets/4534713/6630799/3761bb04-c8da-11e4-824b-548bddece69a.png)

I have attempted adding a TargetDir pro

[2015-03-13 03:39] Daniel15 commented on #104
I recently saw the same thing on my own site after upgrading Newtonsoft.Json (JSON.NET) past version 5.0.4. Downgrading to JSON.NET version 5.0.4 made it work as expected so there's probably some incompatibility somewhere. I'll take a look.

[2015-03-13 03:40] Daniel15 commented on #102
Interesting... Do you have any custom configuration for IIS Express or are you just using the standard config? Are you running it through Visual Studio, or outside of Visual Studio? Do you have the Visual Studio debugger attached or do you run "without debugging"?

[2015-03-13 10:55] jlchmura commented on #102
Standard iis express config.  Running through Visual Studio (launched via
'View in Browser' Ctrl+Shift+W).  Without debugging.

On Thu, Mar 12, 2015 at 11:40 PM, Daniel Lo Nigro <notifications@github.com>
wrote:

[2015-03-13 15:37] Semblant commented on #104
Hey Daniel, thanks for the suggestion. Unfortunately, JSON.NET 5.0.4 is incompatible with Microsoft.Owin.Security (version 3.0.0) and others.

I also tried upgrading from JSON.NET 6.0.4 to 6.0.8 because it looked like there were some 'unsupported type' fixes. No luck there either. If it weren't for the security requirements of this project, I would just downgrade to 5.0.4.

Thanks for your attenti

[2015-03-13 17:00] Daniel15 commented on #104
I'll try to take a look this weekend and see if I can figure out what's up :)

[2015-03-16 02:28] Daniel15 commented on #104
That was pretty tricky to track down, but it did end up being an issue with the JSON.NET version:

![Error message](https://cloud.githubusercontent.com/assets/91933/6659698/511cc3d4-cb48-11e4-8d47-a3dc3c680a4a.PNG)

The "real" error message was masked by that try-catch block in that segment of code. The `try` block had logic for parsing the data as JSON, but the `catch` block did not. This meant t

[2015-03-16 02:33] Semblant commented on #104
Awesome Daniel, thanks for the support. I will give it a whirl in the
morning.
On Mar 15, 2015 7:28 PM, "Daniel Lo Nigro" <notifications@github.com> wrote:

[2015-03-16 03:11] Daniel15 commented on #93
:+1: I'll upgrade React in the next release.

[2015-03-16 06:25] lukemcgregor opened #105 "OperationCanceledException when modifying JS files"
I get the following whenever I modify JS files which are being used for SSR.

	<TraceRecord xmlns="http://schemas.microsoft.com/2004/10/E2ETraceEvent/TraceRecord" Severity="Critical">
		<TraceIdentifier>http://msdn.microsoft.com/TraceCodes/System/ActivityTracing/2004/07/Reliability/Exception/Unhandled</TraceIdentifier>
		<Description>Unhandled exception</Description>
		<AppDomain>/LM/W3SVC/7/ROOT-

[2015-03-16 06:31] Daniel15 commented on #105
Sounds like an issue with JSPool (the library that handles pooling/reuse of JavaScript engines) so I've moved this to https://github.com/Daniel15/JSPool/issues/6.

In the meantime, you can try turning off pooling and seeing if that helps. To do that, call `. SetReuseJavaScriptEngines(false)` in your `ReactConfig.cs` file. This will make execution slower (as it needs to spin up a new JavaScript eng

[2015-03-16 06:32] #105 closed

[2015-03-16 06:42] lukemcgregor commented on #105
Yeah that totally seems to fix the issue. Ill just leave it off in dev.

Thanks for the fast response :)

[2015-03-16 15:31] Semblant commented on #104
I gave the development package a whirl but bumped into the same issue (the update might not have propagated yet?). I did build it and my issue has been resolved, thanks again.

[2015-03-16 15:31] #104 closed

[2015-03-16 18:51] radenkozec commented on #101
I have succeeded to run your example by extracting project from solution and manually fixing issues.
It would be nice if you can reference React.js from Bower instead of fb for next versions. (some of us have problems with referencing fb because of company policies for social networks)

Also I am hoping that you will enable support for aspnetcore50 soon. Without .NET Core your implementation for A

[2015-03-16 18:51] #101 closed

[2015-03-16 19:33] Daniel15 commented on #104
Yeah it looks like the build on the dev server is broken even though I have
no issues compiling the project myself (even on a fresh checkout), not
quite sure what's going on there. Thanks for checking it :)

--
Regards,
Daniel Lo Nigro
http://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Mon, Mar 16, 2015 at 8:31 AM, Michael Ross <notifications@gi

[2015-03-16 23:45] Daniel15 commented on #101
Did you figure out what the issue with your project was?

This already works for client-side code, just include your own version of React rather than using it from the CDN.

This is blocked on the dependencies (ClearScript and JavaScriptEngineSwitcher) supporting ASP.NET 5 Core. .NET Core isn't functional on Linux or Mac OS X yet, and ASP.NET 5 still runs on those platforms via Mono even without C

[2015-03-17 06:48] radenkozec commented on #101
Hm That is a great. I got the impression that ASP.NET projects will not work on Linux or MacOS without .NET Core.
Thanks for clarification.

[2015-03-17 06:50] Daniel15 commented on #101
I recently built a hello world app with the Yeoman generator (to scaffold it) and Sublime Text. It worked! :) http://blogs.msdn.com/b/webdev/archive/2014/08/12/develop-asp-net-vnext-applications-on-a-mac.aspx

[2015-03-17 06:51] radenkozec commented on #101
Great.
I am glad you have already test it .
I haven't got time to test it on Mac yet.

[2015-03-17 06:57] radenkozec commented on #101
I looked at explanation here:
http://www.asp.net/vnext/overview/aspnet-vnext/aspnet-5-overview
It seams that Cross-Platform CLR is not yet released.
So KRE CLR is actually Full CLR which is not working on Linux?

[2015-03-17 07:05] radenkozec commented on #101
Actually you are correct: http://blogs.msdn.com/b/cesardelatorre/archive/2014/11/18/what-is-net-core-5-and-asp-net-5-within-net-2015-preview.aspx
Here is stated: This is today (running ASP.NET 5 on top of Mono), but Microsoft is also going to release an official distribution of the .NET Core for Linux, as well as an official distribution of .NET Core for the Mac OS X, as well.

[2015-03-17 13:45] jlchmura commented on #102
Update: I disabled pooling in ReactConfig.cs and the issue has gone away.

[2015-03-18 20:53] dgwaldo commented on #98
Now looking into using React Router from ReactJS.NET as well.  Pulled Pete's branch and tried dev-build, looks like the build is failing..  Will try to work around that.   Would love to see this as a feature in the mainline.

[2015-03-19 15:47] Surreal9 commented on #96
How do you make that selection, and choose V8?

[2015-03-19 16:06] shadowii commented on #102
I've actually been getting a very similar issue, except instead of an exception, I just get a connection refused. It happens very reliably whenever I rebuild my jsx with webpack. Re-launching via "View in Browser" gets it going again. I'm in IIS Express 8.0 if that helps.

@jlchmura How did you disable the pooling?

[2015-03-19 16:49] jlchmura commented on #102
Yes my symptoms are the same.. if you look at your event log I'm guessing
you'll see the exception there.  But you are correct, IISExpress is
silently crashing and browser ends up with a connection refused.

To disable pooling, add this to your ReactConfig.cs file:
ReactSiteConfiguration.Configuration.SetReuseJavaScriptEngines(false);

On Thu, Mar 19, 2015 at 12:06 PM, R <notifications@github.com>

[2015-03-21 19:01] raysuelzer commented on #102
I had this same issue. ReactSiteConfiguration.Configuration.SetReuseJavaScriptEngines(false);  works wonderfully.

If you are using webpack this also allows you to add the --watch flag so that your packages are rebuilt as you change your code.  I'd suggest integrating that into the documentation / tutorial.  If there is interest I can create a PR.

[2015-03-23 11:59] jlchmura commented on #102
@Daniel15 since turning off pooling solves this issue.. does that point to an issue in jspool?

[2015-03-23 15:52] scratch-net opened #107 "How do I warm up all engines?"
Hi and thank you for such a great library.
We wanted to use it in our new project and perform some testing right now. We have a compiled .js file (using react and WebPack, of course) sized ~850 kb (minified) which on first load takes ~400 ms to run. After several page refreshes the response time reduces down to 10-12 ms which is, I suppose,  happening, because JSpool starts to use engines that wer

[2015-03-24 10:38] PeteDuncanson commented on #98
Back from holiday so just catching up. How did you get on?

[2015-03-24 12:00] ifolmedo opened #108 "Out of stack space error on server loading a Cassette bundle from browser"
We are using Cassette to compile JSXs. In my local machine it works smoothly but in UAT server when I try to load a page with a bundle with transformed JSXs I get `Out of stack space` error while IIS consumes 100% CPU and whole RAM. I have not been able to replicate the error in my machine disabling Cassette debug mode.
What could be the cause of the problem?

Thanks.

[code]

[2015-03-24 14:01] dgwaldo commented on #98
Haven't dedicated to much time, as the build is failing, and couldn't get it building.

[2015-03-30 17:51] calebroseland commented on #58
Not sure if it is technically correct, but I'll paste this here incase it helps anyone.

If you remove the *.jsx handler in web.config, it should fall back to using the cassette.axd handler. I commented out the following line and Cassette delivered in while in debug=true just fine.

.

[2015-04-02 18:10] mikeroosa opened #109 "document not defined error"
This is most likely something I'm doing wrong but I can't figure it out. I've followed the tutorial on the reactjs.net site and all is working great until I try the server side rendering.

Here is the error and stack trace.

Error while loading "~/Scripts/Tutorial.jsx": ReferenceError: document is not defined
    at Script Document [7]:111:5 ->     document.getElementById('content')
Line: 111
Colu

[2015-04-02 18:11] Daniel15 commented on #109
Remove the `React.render` call from `Tutorial.jsx`. Server-side rendering handles calling `React.render` for you.

[2015-04-02 18:20] mikeroosa commented on #109
Yep, that did it. Thank you.

[2015-04-02 18:20] #109 closed

[2015-04-03 22:06] jslatts commented on #102
+1 on this issue. Happens to my business partner. Turning off pooling corrects the problem.

Visual Studio Ultimate 2013 12.0.31101.00 Update 4
Windows 8.1 Pro 64

[2015-04-05 10:13] xabikos opened #110 "ES6 class component declaration"
According to documentation we can use the ES6 class syntax to declare components. I tried to do so but I am getting an error when the page is rendered server side.

My simple component looks like this
[code]
But I am getting the error below:
[code]

I have enabled the corresponding setting in react configuration (UseHarmony)

Is it possible to use this syntax today or am I missing something? I cou

[2015-04-05 16:16] Daniel15 commented on #110
This is because ReactJS.NET isn't using the latest version of React. I'll
update it soon.

Sent from my mobile.
On Apr 5, 2015 3:13 AM, "Charalampos Karypidis" <notifications@github.com>
wrote:

[2015-04-05 16:45] xabikos commented on #110
Thanks for the quick response @Daniel15 I will keep an eye on it

[2015-04-05 18:39] andersea opened #111 "Tutorial change to fix IE caching of comment ajax response"
IE will aggressively cache ajax responses. In the tutorial the list of comments is retrieved from the server using the following method.

[code]
This will not work out of the box in IE because the response is cached and will not contain the newly added comment.

To prevent IE from caching the response, you can add a Cache-Control header to the response like this:

[code]

[2015-04-06 07:14] Daniel15 commented on #111
Good catch!

With ASP.NET MVC you'd ideally use the `OutputCache` attribute rather than calling `Response.Cache` directly. I think it's something like this:
[code]

Although disabling caching would result in reduced performance. In a production environment you'd ideally use proper cache validation (ie. E-Tags and Last-Modified/If-Modified-Since).

Feel free to send a pull request to update the tut

[2015-04-06 07:15] Daniel15 commented on #108
What operating system and .NET version are you using on your UAT server?

[2015-04-08 09:46] scratch-net opened #113 "Ability to provide own react.js version?"
Hi there. 0.13 is out and 0.14 is approaching. Is it possible that we didn't have to wait for a next react.NET release and provide .js by ourselves?

[2015-04-11 23:28] Daniel15 commented on #110
The upgrade will be covered by #93. Closing this out.

[2015-04-11 23:28] #110 closed

[2015-04-11 23:29] Daniel15 commented on #76
I haven't heard back so I'm going to close this issue, but please reopen with more information if there's still something I need to fix. Thanks!

[2015-04-11 23:29] #76 closed

[2015-04-11 23:30] Daniel15 commented on #98
Closing this in favour of #64

[2015-04-11 23:30] #98 closed

[2015-04-11 23:31] Daniel15 commented on #53
Closing this out since V8 (ClearScript / VroomJs) is bundled by default now.

[2015-04-11 23:31] #53 closed

[2015-04-12 01:02] #93 closed

[2015-04-12 01:03] Daniel15 commented on #110
Just tested after upgrading React to 0.13.1 and it works now. If you want to use it before I release a new version, you can get a ReactJS.NET build off the build server shortly, or just build it yourself. Instructions are on the site. Thanks for reporting!

[2015-04-12 01:43] #91 closed

[2015-04-12 01:45] Daniel15 commented on #107
In 3ae436a376c0ffd6d5942378f1e1a06f1352834f I added a new `AddScriptWithoutTransform` method on the config object. Try that out, any scripts added with `AddScriptWithoutTransform` rather than `AddScript` will load as soon as the JavaScript engine is created.

[2015-04-12 02:22] #113 closed

[2015-04-12 02:29] Daniel15 commented on #113
I've added this in 27df77f84f2ea95994452b82f0d55c48493ba2df. Ensure you load a version of React in a script (eg. Webpack bundle) via `AddScriptWithoutTransform` and it should work fine. The only issue I can think of is if React's API changes between versions, as ReactJS.NET will still be calling the old methods internally (eg. `React.renderComponent` changing to `React.render` in 0.12).

[2015-04-12 02:30] Daniel15 commented on #107
Please feel free to reopen this if any other work need to be done on this.

[2015-04-12 02:30] #107 closed

[2015-04-12 02:47] Daniel15 commented on #58
Turns out this has to do with the order of the HTTP handlers in your Web.config file. When the JSX handler is listed first, it picks up the request even though it should actually go to Cassette. Ensure the Cassette handler is listed **before** the JSX handler in `system.webServer/handlers` and you should be fine.

[2015-04-12 02:47] #58 closed

[2015-04-12 04:30] scratch-net commented on #113
Thanks a lot, no need to fork any more!

[2015-04-12 04:31] #60 closed

[2015-04-12 04:32] Daniel15 commented on #60
I'm closing this out since I fixed the initial issue. Feel free to keep discussing Webpack and Browserify elsewhere :D

[2015-04-12 04:33] Daniel15 commented on #62
I'm going to close this since I didn't hear back and haven't had any other requests for this, but please feel free to reopen it with more information. Thanks!

[2015-04-12 04:33] #62 closed

[2015-04-12 04:40] Daniel15 commented on #100
Closing this since I haven't heard back, but let me know if the MVC helpers don't work with Web Pages and I can investigate. I can't actually figure out how to create a Web Pages site in the Visual Studio 2015 preview so I may need to downgrade to Visual Studio 2013 to test this out (or use WebMatrix).

[2015-04-12 04:40] #100 closed

[2015-04-12 18:33] #111 closed

[2015-04-12 21:10] Daniel15 commented on #88
JSPool 0.2 should have resolved this, but please reopen if you're still experiencing this issue. Thanks!

[2015-04-12 21:10] #88 closed

[2015-04-13 04:45] Daniel15 commented on #102
Some of the changes I've done to JSPool recently might fix this.

@jlchmura Could you please provide the InnerException of that exception if possible? I think it'll be really useful.

In the meantime you could turn off pooling only in debug builds:
[code]

[2015-04-13 08:40] xabikos commented on #110
Thanks for the update @Daniel15

[2015-04-13 08:45] xabikos commented on #110
Have you any idea when you will upgrade nuget package too?

[2015-04-13 15:26] Daniel15 commented on #110
New release will be some time in the next few days, I just need to do more
testing and see if there's any other bug fixes that I should do for this
release. In the meantime you can get packages off the development server,
or build it yourself and use the resulting NuGet packages. Instructions for
both are on the site.

Sent from my mobile.
On Apr 13, 2015 1:45 AM, "Charalampos Karypidis" <notifica

[2015-04-14 05:03] Daniel15 commented on #110
I'm just pushing the updated NuGet packages now, they should be up in a few minutes.

[2015-04-14 05:49] xabikos commented on #110
Thank you so much for the update. It's right on time. I want to incorporate the webpack with ES6 style syntax for our project.

[2015-04-14 06:20] Scratch-net opened #114 "[Idea] Ability to specify own piece of js code when doing Html.React"
So, right now we rely on React.Net's internal composing of strings when we want to generate something on server side, but as you know the API may change dramatically in future versions.
Basically when using React serverside with webpack/etc we need 2 things
1) Load the big  webpacked JS ASAP (done in 1.5)
2) Run a piece of JS code that will return some html /clientside init

I suggest to add abili

[2015-04-14 12:59] voltcode opened #115 "Disable sourcemap generation in release mode"
It would be great if ReactNET would not generate sourcemaps when application is run in production mode (without "debug" flag in web.config). Source maps are useful in development, but could be spared in production applications. This behavior could be optional, for example by exposing control over it in ReactSiteConfiguration class.

[2015-04-14 18:35] xdansmith commented on #64
Any further work happening with this? we're trying to decide whether to move to node.js server-side, or stick with asp.net and use reactjs.net, but isomorphic rendering is a must, and without being able to use react-router or implement something like it makes it not really an option.

[2015-04-14 21:04] jpiccari opened #116 "JSX parser unexpected token ">=""
When a `=` is immediately preceded by a JSX "tag" it is interpreted as a single token rather than separate tokens. I'm seeing this issue on React.NET v1.4.0 while using `JsxBundle()` to bundle my JSX.

### Repro JSX code
[code]
Working example (using in browser JSXTransformer.js) http://jsfiddle.net/a1k1mhge/

[2015-04-14 21:07] Daniel15 commented on #116
This looks like a bug with React 0.12, I can replicate the same issue on JSFiddle if I switch to using JSXTransformer 0.12: http://jsfiddle.net/a1k1mhge/1/. Please try upgrading to ReactJS.NET 1.5, as it upgrades React from 0.12 to 0.13 and should resolve this issue.

Thanks!

[2015-04-14 21:07] #116 closed

[2015-04-15 07:33] scratch-net commented on #64
Not sure about React router, but Backbone router worked for us in this environment. I'm not the frontend guy so I don't know much about it, but as far as I see it works for us with server sendering and backbone router

[2015-04-15 13:36] PeteDuncanson commented on #64
Hi @xdansmith,

This works just fine but you have to use our folk of it to get the ReactRouter html extension. I could do to write up how to do it properly to save any guess work. We've since written our own .net js wrapper which is hard coded for V8 that does what we want and using that now, we need to get that released too :)

Cheers

Pete

[2015-04-15 13:39] PeteDuncanson commented on #114
We've coded something like this in when we had to get ReactRouter working. I agree it would be a great idea to add in but the tricky bit comes from passing in .net vars you need to play with. For now we've got around that by creating a global object containing the bits we need that we poke into the engine before our script runs so it can safely reference the values it might need from the host. Thi

[2015-04-15 13:42] PeteDuncanson commented on #98
@dgwaldo trying our fork and it compiled just fine, did you run the dev.build file first as per the original ReactJS.net docs? That would cause an error but it does it for the original too. Fingers crossed thats the issue, if not let me know as can't recreate here.

[2015-04-15 14:15] dgwaldo commented on #98
@PeteDuncanson   The teamcity build was failing, looks like its good to go now.  However, my coworker has been using Node to serve the React prototype, seems to be working great so far.

[2015-04-16 10:05] villanus commented on #100
Thanks for investigating.  I never had the time to get into react =(

[2015-04-16 18:16] mikecao opened #117 "Improve error reporting for JsxBundle errors"
I am currently using the `System.Web.Optimization.React.JsxBundle` class to package all my `.jsx` files together. The entry in my `BundleConfig.cs` looks like this:

[code]

However, whenever I get a syntax error, it doesn't specify the filename where the error occurred. The stack trace looks like this:

[code]

I'm assuming the `at line 345 column 9` refers to a location of a concatenated file. I

[2015-04-16 18:23] Daniel15 commented on #117
Good idea! I have a feeling the files have already been combined together by the time the JSX transformation runs, and Microsoft's bundling/minification framework doesn't output source maps, so we've already lost the original locations :(

I'll see if the transform can be ran earlier, before the combination takes place.

[2015-04-21 14:38] ifolmedo commented on #108
We are using Windows Server 2008 R2 Standard 64 Bits with 2 GB RAM and .Net
4.0.
IIS managed pipeline is set to integrated mod and load user profile is set
to false.

--
Ismael

2015-04-06 9:15 GMT+02:00 Daniel Lo Nigro <notifications@github.com>:

[2015-04-24 21:04] arbrown opened #118 "JSX Parse errors always five lines off"
Whenever there is an error parsing a jsx file, the server will throw an exception and return a yellow screen (standard error page) with some information about the parse error.  Unfortunately, the error page seems to reference line and column numbers referencing the .js file that *would have been produced,* including the standard 5-line header, rather than the jsx source file.

The 5-line header in

[2015-04-24 23:24] Daniel15 commented on #118
Good catch, thanks for reporting it.

[2015-04-25 18:05] szarouski commented on #9
In case someone will be looking for require.js integration example, it could be [found here](https://github.com/szarouski/ReactJS.NET-with-require.js-getting-started-tutorial).

[2015-04-29 00:33] jslatts commented on #102
Still seems to be happening to my partner. I'll see if I can get the exception next time he and I are together in person.

[2015-04-30 05:42] coyaniv opened #119 "Error on runtime"
Hi,
I'm getting this error only in the azure env.
React.Exceptions.ReactScriptLoadException: Error while loading "~/dist/scripts/hold.jsx": Expected identifier, string or number

What does it mean? How can I fixed this?

Thanks

[2015-04-30 05:44] Daniel15 commented on #119
Most likely you have a syntax error in your JavaScript, such as a trailing comma somewhere. It's possible that you're using the V8 engine when developing locally, but the MSIE engine when deploying to Azure. Try using the MSIE engine locally (simple way is to delete the ClearScript.V8 directory, as MSIE is only used as a fallback) and see if you encounter the same error.

Does the error have a lin

[2015-04-30 07:00] coyaniv commented on #119
The problem is coming from this code but I do not understand what is the problem...
 <div class="text-center">
	                    <small>By signing up, you agree to <a href="/terms" >Terms of Use</a> and <a href="/terms/privacy_policy">Privacy Policy</a>.</small>
	                    <br /><br />
	                    <small>Already got an account? <a onClick={this.handleClick} >Log In</a></small

[2015-04-30 07:01] Daniel15 commented on #119
The code didn't come through properly, can you please post it via http://gist.github.com/ instead?

[2015-04-30 07:04] coyaniv commented on #119
https://gist.github.com/coyaniv/d5a69e2097a700a81576

[2015-04-30 23:31] rwollgar opened #120 "Column resizing and horizontal scroll not working in Chrome 42"
I am using the Column resizing example.
Works in Firefox (latest beta)

Column reordering not working either.

I think the drag/drop functionality is broken in Chrome.

Thanks.

[2015-05-03 08:46] Daniel15 commented on #120
Did you post this on the wrong repository? ReactJS.NET does not have anything to do with tables :)

[2015-05-03 08:46] #120 closed

[2015-05-03 19:35] coyaniv commented on #119
I'm not using  ClearScript.V8 locally (could not find this folder) but I'm still getting same error ...
The line number is point on "}"

[2015-05-05 11:30] SoonDead opened #122 "Server-side `console.log`s before client-side"
I love the current console shim. It is great to be able to output messages on the server.

What could be improved is the ordering of server and client-side messages. The server-side messages should show up on the console before client-side rendering happens.

Might be solvable with a simple reordering of `GetInitJavaScript()`, where the `consoleCalls` are appended before the components.

[2015-05-05 12:05] SoonDead opened #123 "Feed array to Html.React as object literal"
I'm using server-side rendering.
I need to feed some data to the initial render of the component.

Usually on client-side I'm initializing the component's state with nulls and empty objects, and I only fetch the data through ajax on componentDidMount.

On the server-side this is a no-go. But I can fetch the same data there and feed it to the component as a property:

    var jsonListResult = new J

[2015-05-05 12:39] PeteDuncanson commented on #123
Under the hood the @Html.React call will convert your Model (in this case your list) to JSON and inject it in as a string which when parsed by the JS engine on the server will appear as a object literal. As a result you should be able to just do this:

[code]

And then you can load it in your component. You are using getInitialState, I'd be tempted to use getDefaultProps instead as you are passing

[2015-05-05 17:37] Daniel15 commented on #123
As @PeteDuncanson mentioned, just put your data in the props directly, and ReactJS.NET will handle serialising it for you. This is exactly what the bundled sample code does: https://github.com/reactjs/React.NET/blob/master/src/React.Sample.Mvc4/Views/Home/Index.cshtml#L16-L17

[2015-05-05 17:37] #123 closed

[2015-05-06 07:19] SoonDead commented on #123
Thank you.

[2015-05-11 11:11] chrisjhanna opened #125 "In the new Visual Studio 2015 RC when calling services.AddReact() - The type 'IServiceCollection' is defined in an assembly that is not referenced"
Compile time error in Startup.cs on line services.AddReact():

"The type 'IServiceCollection' is defined in an assembly that is not referenced"

This was in a project that we had been working on in Visual Studio 2015 CTP 5. Everything was working as normal until we upgraded the project to Visual Studio 2015 RC. All the other services are working fine after the upgrade. There seems to have been qui

[2015-05-11 23:56] shadowii commented on #119
Hi Daniel,

I'm getting the same error after deploying to the server. I deleted the clearscript folder, but it continues to work fine locally. I've checked the js line that it's complaining about, but I see no error (it's built by webpack, too, I assume that would catch syntax errors?).

The asp.net error:

[code]

The relevant js line ("marker" is line 934, col 16):
[code]

[2015-05-12 02:50] shadowii commented on #119
I don't know if this will help or not, but I've noticed that the server took an unusual amount of time to load the page. Eventually I just deleted everything from the return object in GetDefaultProps, and it did load the page, but eventually it lead to an out of memory exception. I will follow up as I test more.

[2015-05-12 15:43] shadowii commented on #119
@Daniel15 So you were right, it was an extra comma. Not quite at the line given, but near there. I ended up clearing all the properties and adding them in one by one. I'm surprised the JSX transpiler didn't pick it up, nor did VS once it was converted to JS.

Well, TIL, just looked it up, trailing commas are valid in JS. http://stackoverflow.com/questions/7246618/trailing-commas-in-javascript

On

[2015-05-13 10:00] coyaniv opened #126 "Error on run time when using React Intl"
Hi,
I'm having problem using React Intl. (http://intljs.io/react/)
I'm getting error only after publish my code to Azure env. In my local env everything works fine.
I'm getting this error:
"React.Exceptions.ReactScriptLoadException: Error while loading "~/dist/scripts/react-server.jsx": 'Intl' is undefined"

Thank you

[2015-05-14 06:57] coyaniv commented on #126
Why this error display only on the Azure env.? What's the difference between Azure env to Local?

[2015-05-15 04:27] Daniel15 commented on #126
Are you using Webpack/Browserify, or are you listing all the required files in ReactConfig.cs? Could you please provide a small project that replicates the issue, so I can take a look?

[2015-05-17 18:35] coyaniv commented on #126
https://drive.google.com/file/d/0B2eZcvKLnZ6lb0FDYWNYQ1Q2cnM/view?usp=sharing

[2015-05-19 09:53] xabikos opened #127 "Add an option to support renderToStaticMarkup method"
Reactjs provides the method [renderToStaticMarkup][static] which is very useful when we need to render a page server side but not edit it client side. This method doesn't add all the extra react specific data-attributes so the produced markup is lot cleaner.

[static]: https://facebook.github.io/react/docs/top-level-api.html#react.rendertostaticmarkup

[2015-05-19 16:56] xabikos commented on #127
I am working on a pull request to resolve this

[2015-05-22 15:07] codevinsky opened #129 "Mono Compatibility appears to be broken: Cannot build VroomJS"
Following the guide on the site: http://reactjs.net/guides/mono.html

Compiling the vroom engine fails consistently.

[code]

[code]

[2015-05-22 15:19] codevinsky commented on #129
Just ran through the guide on ubuntu. Made it further but still:
[code]

[2015-05-22 19:13] codevinsky commented on #129
`#include <cstring>`
needs to be added to jsengine.cpp for this to build.

[2015-05-28 17:03] st1pps commented on #125
The current version of react.js is targeting asp.net 5 beta-3, while VS 2015 RC automatically references beta-4. It seems that there are quite a few changes between the two beta versions.

[2015-05-29 00:48] PureKrome commented on #78
Hi @PeteDuncanson - can you provide some sample code with re: to what you're doing? Would be great to reference that against whatever we're doing / not-doing.

Secondly, any more info with re: your tweaks _and_ using js pool ? Did you end up trying that? Luck/no-luck?

[2015-05-29 00:49] Daniel15 commented on #125
That's to be expected when dealing with prerelease software :)

I'll try to get some time to update it based on the beta4 changes.

[2015-05-29 09:30] PeteDuncanson commented on #78
Hi @PureKrome,

We've gone the route of just building a hardcoded V8 version which has allowed us to use all the performance tweaks we can to get the most out of it. You can get that over at https://github.com/Offroadcode/SuperchargedReact.Net

Clearing out any global variables by running "delete myvarnamehere;" style commands in the runtime before throwing it away helped greatly on memory leaks a

[2015-05-29 12:22] Daniel15 commented on #78
Thanks for the info @PeteDuncanson!

I think I'd be happy dropping the JavaScriptEngineSwitcher dependency if it helps with improving performance, but I need to maintain compatibility with both Windows and Linux. ClearScript doesn't run on Linux (due to its usage of C++/CLI) so I need the VroomJs engine for Linux compatibility. Perhaps JSPool could be updated to support using V8 directly (via Clea

[2015-05-29 13:11] PeteDuncanson commented on #78
That might work, I know next to nothing about VroomJS and don't have a Mac so can't really test it. However if its just the two engines then it "could" be possible to optimise both some how then. Will be good to see how we might do that. Would need to do some reading up on vroomjs though, feel free to poke around in Supercharged to see what we are doing and steal back what you need if you beat me

[2015-05-29 13:13] antonmes commented on #78
I recently tested V8.NET with React.AspNet, it was a little bit slower then Jurassic on my Mac, but many times faster on Linux VM. It also provides binaries merged with V8 for Windows/Linux/OSX so it could be a universal solution with latest V8, if we can figure out performance issues on Mac. Can't compare with VroomJs, because cant get it work with aspnet 5.

[2015-05-29 13:15] antonmes commented on #78
[V8.NET CodePlex](https://v8dotnet.codeplex.com) and [V8.NET port to mono](https://github.com/chrisber/v8dotnet)

[2015-05-30 14:04] stefanwuthrich commented on #125
yes please. i try'd to upgrade to beta4, but to complex for me :-(

[2015-05-30 17:16] st1pps commented on #125
After updating all references and changing the framework from ASPNET50 to DNX 4.5.1, I just had to edit JsxFileSystem.cs to make it compile and pass all test:
[code]

In the React.Sample.MVC6 project the app.UseRequestServices(); statement had to be removed, as the method is not longer existing. As far as I can tell, everything is working fine.

[2015-05-31 04:04] stefanwuthrich commented on #125
@st1pps Thank you so much. You saved my day. works perfect ;-)

[2015-05-31 04:58] Daniel15 commented on #125
Just released 1.5.2 which updates the ASP.NET dependency to beta 4. Thanks @st1pps!

[2015-05-31 04:58] #125 closed

[2015-05-31 05:02] Daniel15 commented on #129
Sorry I didn't see this until now, I was flying from the US to Australia and haven't checked my emails for a while.

On Mac OS X you may need to use gcc rather than Apple's LLVM. It looks like it's a build issue in V8 itself rather than VroomJS. It may have been fixed with a newer V8 version. Unfortunately VroomJS only supports an older version of V8 and I'm not experienced with C++ at all so it'd

[2015-05-31 05:08] Daniel15 commented on #127
Merged the pull request, thank you! :)

[2015-05-31 05:08] #127 closed

[2015-05-31 06:20] Daniel15 commented on #119
Hi! Sorry for the delay in replying!

They're valid in most modern JS engines, but Internet Explorer doesn't like them. ReactJS.NET falls back to the MSIE engine if initialisation of V8 fails for whatever reason.

Yeah the line numbers are a bit off at the moment, I need to work on fixing that.

Yeah, it's much better than the MSIE engine :)

That's a good question; it's pretty difficult to tell a

[2015-05-31 06:26] Daniel15 commented on #122
Yeah, you should simply be able to swap the order such that the console calls are first: https://github.com/reactjs/React.NET/blob/master/src/React.Core/ReactEnvironment.cs#L293-301

Feel free to send a pull request :)

[2015-05-31 06:39] Daniel15 opened #131 "Test with newer JSXTransformer"
See https://github.com/facebook/react/pull/3777

Get latest builds from http://react.zpao.com/builds/master/latest/

[2015-05-31 19:34] SoonDead opened #132 "Feed JSON to Html.React()"
I have found myself in a scenario where I'm trying to pass a JavaScript object literal serialized as JSON to a property of the second parameter of `Html.React()`. Currently I'm doing this by Serializing the JSON into an anonym object, and using that.

This seems somewhat wasteful since it will get serialized internally anyway.

Is there a way to just pass that JSON object to be used?

If not, this

[2015-06-01 01:05] Daniel15 commented on #132
Where is the data coming from? Do you have a C# object containing your
data? You could pass that object as the second parameter  directly, rather
than wrapping it in an anonymous object.

Sent from my mobile.
On Jun 1, 2015 5:35 AM, "Márton Vincze" <notifications@github.com> wrote:

[2015-06-01 08:35] chrisjhanna commented on #125
Awesome, thanks for this.

[2015-06-02 20:01] donatasbacius opened #134 "[Question] Why not use edge.js?"
Hi @Daniel15,

What do you think of this approach? Why not delegate the rendering to node.js? That way you get commonjs support and can use pretty much any node modules with minimal effort.

Thanks

[2015-06-02 23:17] DamageInc54 opened #135 "React MSBuild Transforming JSX to read only JavaScript files."
I'm having an issue using React MSBuild with a project that uses TFS as Source Control. React MSBuild always tries to generate the JavaScript file even when no changes have been made to the JSX files. This is causing an error when building since it can't overwrite the JavaScript files if they are not checked out.

I was going to try and add a parameter to only do JSX files that are NOT read only b

[2015-06-03 01:00] Daniel15 commented on #135
You shouldn't be checking in the `*.generated.js` files (or in general, *any* generated files) to source control.

Having said that, the MSBuild transform could be adjusted to only write the file if it has been modified. The simplest solution would be to add a `WriteAsStringIfNotModified` method to `IFileSystem` that would first read the file and compare whether it's changed before writing it out,

[2015-06-03 06:45] Daniel15 commented on #134
Does that require Node.js to be installed? That's a higher barrier to entry than what I'd like 'out of the box', but it'd be good if it was optional. When I started working on ReactJS.NET, edge.js didn't support Linux (via Mono) which was one of my goals for 1.0. It looks like it does support Mono now, so it might be worth revisiting.

For what it's worth, CommonJS support is already possible if y

[2015-06-03 16:06] DamageInc54 commented on #135
Good point. I hadn't thought of just including the generated files in the project but excluding them from TFS. I guess that should work both locally and on the build server. Thanks much. And thanks for writing this great tool.

[2015-06-04 12:44] Daniel15 commented on #135
Let me know how that goes :)

That should work even better with the upcoming ASP.NET 5  as you no longer need to explicitly include files in the project like you do now (it just implicitly includes all files in the folder).

[2015-06-04 14:38] Todilo opened #136 "[Question] Compatible flux library"
Firstly, great work with this library. For my project it is very essential that server-rendering is enabled so I have a question regarding Flux. Is there anything you need to think about when choosing a Flux library? From browsing the web some solution does not seem to be suitable for server-side rendering.

Any thoughts regarding this? Is there anything else to think about when connecting other l

[2015-06-04 16:39] DamageInc54 commented on #135
Worked like a charm. Thanks for the idea.

I'm not closing this in case you want it to remain open until you make the changes you described above. My issue is resolved so close it at your discretion.

[2015-06-05 09:18] Daniel15 commented on #136
Unfortunately I haven't spent much time trying Flux libraries with ReactJS.NET yet. It'd be mostly similar to choosing a library for other server-side JavaScript technologies such as Node.js. Notably, singletons (like in Facebook's "vanilla" Flux examples) do not work. You need to have stores that are instantiated, so every request has a different instance of the store even though you're reusing t

[2015-06-05 09:20] Todilo commented on #136
Ok, then I will see of all the Flux libraries I will choose :). Thank ou

[2015-06-05 22:35] ztsmith opened #137 "How dependent on React is react.net?"
I understand there are some react specific features like jsx compilation.
But if this is mostly just a wrapper over a Javascript engine, is there any reason why one wouldn't be able to use any isomorphic framework? Or execute any non dom dependent javascript?
Maybe there is a case to make a more generic library e.g. Isomorphic.NET?

[2015-06-05 23:52] Daniel15 commented on #137
If you just want to run JavaScript, you could use JSPool or
JavaScriptEngineSwitcher or ClearScript directly. There's some useful stuff
in ReactJS.NET that could probably be generalised (eg. the caching of
transformed JSX files could be changed to a generic "run this transformer
and cache the result") but the core functionality is provided by a JS
engine.

Sent from my mobile.
On Jun 6, 2015 8:35

[2015-06-10 00:13] zpao opened #138 "Use Babel to transform JS"
We're likely going to stop supporting JSXTransformer soon. Babel has something similar so it should be relatively easy to swap in, with the upside that more ES* features are supported and they are implemented and fixed faster.

[2015-06-10 12:01] Daniel15 commented on #138
I suppose this means I should close #131 and instead look at how difficult it'd be to support Babel.

[2015-06-10 17:00] zpao commented on #138
Probably. You're welcome to use newer JSXTransformer (or even just browserify latest JSTransform, which includes JSX, directly), we just won't support it officially.

[2015-06-11 06:56] espot opened #139 "Unable to run reactjs in 64 bit mode"
I have followed http://reactjs.net/getting-started/tutorial.html to ge tstarted with RectJS.
The first step works fine running in IISExpress. However running the same example in "real" IIS does not work. I Get the following error:

[code]

If I set  "Enable 32 bit applications" to true in the application pool, the solution starts to work.

Based on this I guess the problem is related to instansiat

[2015-06-12 06:48] Todilo commented on #136
It looks like I am ending up with fluxible http://fluxible.io/ , for both routing as well as flux (isomorphic) but well it is really difficult so set everything up! There are so many libraries out there(for flux and routing but sooooo little documentation and well trying to set it up under .net has 0 documentation).

[2015-06-12 09:02] Todilo commented on #64
@PeteDuncanson have you gotten further with this? I am struggling with routing and flux on serverside and hitting a really hard wall.

[2015-06-13 08:19] Daniel15 commented on #139
Hmm, I guess this has something to do with the native library (V8) used by ClearScript.

Does that exception have an InnerException? Try attaching a debugger to the 'real' IIS and see. If it's a remote server, you can use the remote debug functionality in Visual Studio.

[2015-06-14 04:18] locksmithdon commented on #138
+1 Babel integration would be excellent. It has good JSX support and heaps of ES6 features.

[2015-06-14 04:19] Daniel15 commented on #138
@locksmithdon You can use Babel with ReactJS.NET today via Webpack (see the documentation at http://reactjs.net/guides/webpack.html). This update would just be for when you hit .jsx files in your browser directly, or use a .NET minification library (like Cassette or Microsoft's one)

[2015-06-14 09:01] locksmithdon opened #140 "require is not defined"
I'm trying to use [Material-UI](http://material-ui.com) and I'm getting is error on the server-side. I've added the component I'm using ([TextField](http://material-ui.com/#/components/text-fields)) to `ReactConfig.cs` and I'm pretty sure this is what is causing the error. Is there a way to get React.NET to recognize `require()`? I have not disabled ES6 support because I'd like to use it, although

[2015-06-14 09:04] Daniel15 commented on #140
You'll have to use a module loader like Webpack or Browserify if you want
to use CommonJS modules, since there's no native .NET libraries that
support them. There's some documentation on using Webpack on the
ReactJS.NET site, and lots of general tutorials online.

Alternatively, get a non-module version of the code (often there's a
download available "for use in browsers" for that).

Sent from my

[2015-06-14 10:10] locksmithdon commented on #140
Thanks for the ultra-rapid response @Daniel15. My buddy @kevnz said the same thing and pointed me to the resources you mentioned: http://reactjs.net/guides/webpack.html and https://github.com/reactjs/React.NET/tree/master/src/React.Sample.Webpack. These should prove to be very useful.

[2015-06-14 10:10] #140 closed

[2015-06-15 08:14] espot commented on #139
In the debugger I get: " ReactJS.NET has not been initialised correctly." when running as a 64 bit process.

[2015-06-15 10:03] Daniel15 commented on #139
What's the InnerException? The very innermost InnerException should have more detail.

[2015-06-15 10:49] espot commented on #139
InnerException :
TinyIoC.TinyIoCResolutionException: {"Unable to resolve type: React.IReactEnvironment"}
Data: ListDictionaryInternal (count 0)
HelpLink: null
HResult: -2146233088
InnerException: null
Message: Unable to resolve type: React.IReactEnvironment
Source: React
StackTrace:    at React.TinyIoC.TinyIoCContainer.ResolveInternal(TypeRegistration registration, NamedParameterOverloads paramete

[2015-06-15 13:12] PeteDuncanson commented on #64
@Todilo I've been away at Umbraco's Code Garden festival this last week so not had the chance to write anything up. However as I was presenting on how to use React with Umbraco I've got some blogs and "how tos" to write.

We released our V8 version here: https://github.com/Offroadcode/SuperchargedReact.Net

Not much docs with it as yet, again thats on my todo list now I'm back.

Additionally there

[2015-06-15 13:23] PeteDuncanson commented on #136
I would strongly suggest you roll with Facebooks Vanilla Flux pattern (using their dispatcher https://github.com/facebook/flux) to get your head into the flux pattern first. You only need to wire up one store with actions etc. so you can see how it all works. Get this working server-side and then and only then would I switch to using one of the Flux wrappers/frameworks as they hide a lot of the "m

[2015-06-15 13:31] scratch-net commented on #64
Hi, @PeteDuncanson ! Have you measured the performance difference from the original React.net? How much faster is your implementation?

[2015-06-15 14:14] Todilo commented on #64
@PeteDuncanson I have tried the demo (I did download the npm and run webpack) and I get an error:
ReferenceError: reactRoutesConfig is not defined

    at Script Document:1:13 -> Router.run( reactRoutesConfig, '/articles', function( Handler ) {

when going to localhost:port/articles

I have not done any changes to the code?
Btw very nice article. I am reading through it and everything else you hav

[2015-06-15 14:55] PeteDuncanson commented on #64
@scratch-net we've done some profiling in house (nothing fancy) and seen a definite improvement in speed simply because we are dealing with just the one JS engine, V8, so we can leverage all its various settings and tweaks to tune it rather than going through an abstraction layer or two as React.net needs to (as it support multiple engines). There is more about this over at this issue https://gith

[2015-06-15 15:05] scratch-net commented on #64
@PeteDuncanson Good news! Would be nice to see Supercharged appear on Nuget so that we could test it on our projects. And an option to disable built-in React would be nice too (we use a single webpacked JS file)
Thank you for your efforts and research

[2015-06-16 15:00] PeteDuncanson commented on #64
@scratch-net I'll get a nuget together for you asap, been away a week so playing catch up. We to go the "everything in one bundle" route and it works a treat. Supercharged allows for either running just a component render or ReactRouter out of the box. Basically all the bits we added to our fork of React.net

[2015-06-16 17:51] scratch-net commented on #64
@PeteDuncanson Fantastic! Looking forward to test is ASAP

[2015-06-16 21:19] jslatts commented on #138
FWIW, we have been using Babel with ReactJS.NET and precompiling via Browserify + Babelify and gulp for quite awhile. We did it primarily for the ES6 transforms. Works great! I could write up a quick guide if there was interest.

[2015-06-17 02:46] jslatts commented on #136
We are using Reflux with Reactjs.NET and are quite happy with it. Reflux is a deviation from the official Flux pattern in that eschews the dispatcher. I prefer its simplicity over the other Flux implementations I looked at.

The only issue we had getting it to work server-side was that Reflux depends on a promise library that depends on the window object. We used Browserify to shim an empty module

[2015-06-17 03:29] Daniel15 commented on #138
There's some docs on Webpack (http://reactjs.net/guides/webpack.html) which I'm going to update to use Babel rather than JSXTransformer, but I'd be happy to add some docs for Browserify too.

The docs are in the same repo, the source for the Webpack one is here: https://github.com/reactjs/React.NET/blob/master/site/jekyll/guides/webpack.md

[2015-06-17 03:29] Daniel15 commented on #138
@jslatts - There's some docs on Webpack (http://reactjs.net/guides/webpack.html) which I'm going to update to use Babel rather than JSXTransformer, but I'd be happy to add some docs for Browserify too.

The docs are in the same repo, the source for the Webpack one is here: https://github.com/reactjs/React.NET/blob/master/site/jekyll/guides/webpack.md

[2015-06-17 08:23] Todilo commented on #136
@PeteDuncanson is facebox flux even possible to have server-side. From what I have read it uses a singleton which makes it not possible to use on serverside. If it is I would of cause like to go with it because as you say, it is battletested, so the bigger the library the better.

I will watch your starterkit if you get the build fixed it would be super helpful.

[2015-06-17 08:26] Daniel15 commented on #136
Huh, that's really strange. So the promise library doesn't work in any server-side JavaScript environment? A good promise library should work both server-side and client-side.

That's what the Facebook Flux examples use, but the stores don't have to be singletons.  The only pre-built part of Facebook Flux is the dispatcher, which is a class you instantiate.

[2015-06-17 09:37] PeteDuncanson commented on #136
Boy is my list of "blog posts to write" getting long!

Flux is doable on the server side with a little slight of hand as discussed. We use global stores in our stuff for ease. I'll get something written up asap.

Pete

[2015-06-17 15:30] jslatts commented on #136
I misrembered my issue. The library in question is native-promise-only, which is a promise shim used by Reflux. When trying to render server-side with clearscript, it was invoking setTimeout which was not defined in the ClearScript api. More about this can be found here: spoike/refluxjs#250 and spoike/refluxjs#302.

Reflux does not use singletons, which is one of the reason's I like it.

[2015-06-18 16:59] toddlucas opened #141 "ClearScript/V8 dependency"
Would it be possible to run React.NET without this? I really dislike the idea of adding 9MB of binaries, which is the size of my entire repo. NuGet allows us to avoid this typically. Plus, any updates will cause this size to expand.

I understand that it may not be possible to access the features you need through the JS engine switcher, which is probably why you link directly to MSIE and V8. Just

[2015-06-19 12:01] Daniel15 commented on #141
V8 is optional, ReactJS.NET falls back to the MSIE JS engine if V8 is not available. You can just remove the reference to the ClearScript assemblies.

[2015-06-19 17:59] toddlucas commented on #141
Oh I see. So I need to keep JavaScriptEngineSwitcher.V8, due to the dependency, but that component dynamically loads the ClearScript assemblies if it finds them (due to the need to run 32 bit or 64 bit). Thanks for the tip.

[2015-06-19 17:59] #141 closed

[2015-06-20 08:06] Daniel15 commented on #64
@PeteDuncanson  I'd love to see some of your changes (or at least some of the ideas) merged back into ReactJS.NET. I'd be happy having a hard dependency on V8 as long as Mono continues to be supported.

[2015-06-23 08:17] SoonDead commented on #132
The component loads it's data from a web service by an AJAX request.
This service is a black-box from our perspective, it returns JSON.

The problem is that I want to seed the component with initial data, so the first server side render has some actual value.

I'm trying to do this by fetching the result from the webservice server side, and feeding the result string as a parameter to my component:

[2015-06-23 08:33] SoonDead opened #142 "Best way to run JavaScript on the server before some components"
I have a scenario where I have a few independent components on a page accessing data from a "central store". The central store needs to be initialized before the components first render.

My first solution was (before introducing server side rendering), to simply call `store.initialize()` before `React.render()`

Now I would need to somehow call `store.initialize()` on the server before calling `@

[2015-06-23 09:11] Daniel15 commented on #132
Try deserializing the data into a dynamic object (`dynamic result = JObject.Parse(rawResult)`) and pass the JObject in as a prop. I think JSON.NET should handle that.

[2015-06-23 09:22] Daniel15 commented on #142
This is an interesting request. I could add a callback that's called when a JS engine is initialised, somewhere around here: https://github.com/reactjs/React.NET/blob/master/src/React.Core/JavaScriptEngineFactory.cs#L106. That would run for every request though, which you don't want to do.

I think the issue you'll face is that JavaScript engines are actually shared/pooled between multiple request

[2015-06-23 09:38] PeteDuncanson commented on #142
@Daniel15 don't you load an engine from the pool per request lifecycle? So the same engine gets used through out the life span of a request. I believe so.

If thats the case then you could inject a global variable into the engine using the Environment.Execute mentioned above, then do all your React goodness in your templates and then finally clean up the variable before the request finishes by Exe

[2015-06-23 11:29] Daniel15 commented on #142
Oh good point, that would work. I think I'll add support for running some code before and after engines are obtained from the pool, it could be useful.

[2015-06-27 05:16] andersekdahl opened #143 "Is this ready for production?"
Hi!
This project looks really nice, and it's nice to see that it's backed by Facebook. That said, how production ready is this project? What kind of performance can you expect from the server rendering compared to Razor?

Any examples of sites that use it? Is it used internally at Facebook?

[2015-06-27 12:40] Daniel15 commented on #143
It's not used internally at Facebook, it was mainly a side project for me. I have one page on my site powered by it (http://dan.cx/socialfeed.htm). I know there's a few other people that use it in production but I can't remember the sites at the moment.

Server-side rendering performance should be pretty good if you use the JS engine pooling (which is enabled by default).

[2015-06-27 12:44] andersekdahl commented on #143
Thanks for answering, much appreciated!

Have you done any benchmarks on the difference between rendering the same type of content with Razor and React?

In your own view, would you be comfortable using this for a business critical site with moderate to heavy load?

[2015-06-28 10:17] andersekdahl commented on #143
Btw, didn't mean to throw you a curve ball question about your project like that. I have every intention to research this myself as well (and of course share my findings!).

[2015-06-29 04:56] andersekdahl commented on #143
Here are the results of some early tests. The tests are a bit naive, so take the results for what they are.

I created three projects, one with vanilla MVC and a few Razor views. The second project outputs the exact same thing, but with React.NET instead of Razor. And the third also outputs the same but using React with Node.js.

The test was to send 100 000 requests through Apache Bench to them o

[2015-06-29 05:00] Daniel15 commented on #143
It'd be great if you could upload your benchmarking code. ReactJS.NET hasn't been heavily optimised yet so potentially there's some slow code paths that could be improved

Did you have JavaScript engine pooling enabled? It's on by default. How many concurrent requests were you doing? By default there's an upper limit of 25 concurrent JS engines. If you have more than 25 concurrent requests, the re

[2015-06-29 06:20] andersekdahl commented on #143
I didn't change anything, just downloaded through NuGet and ran it. The limit of 25 engine instances should be somewhat responsible of how far behind Razor it was since I set the concurrency to 100 in AB.

I should also say that I installed React.NET in a project that we are going to ship in a few months that performs nowhere near as fast as my Razor example (since it does a lot of "real work" lik

[2015-06-29 11:04] janhalama opened #144 "Lodash & serverside rendering"
I have problem to use lodash  v3.9.3 javascript library for server side rendering. When I reference the lodash library I receive this exception:

Error while loading "~/ReactJs/Scripts/dest/serverBundle.js": Script threw an exception: Unable to get property 'prototype' of undefined or null reference
Line: 0
Column:0

Stack trace:
   at React.ReactEnvironment.EnsureUserScriptsLoaded()
   at React.R

[2015-06-29 15:23] PeteDuncanson commented on #143
@andersekdahl we wrote SuperChargedReact off the back of trying to get React.Net in production. During our testing we found V8 was holding on to some unmanaged memory every time we ran the page (due to global vars we had in our JS rather than anything React.NET was doing). We tried digging it to the why and how to fix it (trigger garbage collection basically) but found too many levels of abstracti

[2015-06-29 18:15] andersekdahl commented on #143
@PeteDuncanson Thank you for the clairification! I'll definitely check out SuperChargedReact!

[2015-06-30 08:54] drewstiff commented on #9
Apologies for being slightly off-topic but @Daniel15  did you ever get chance to write that blog post (ReactJS,NET & Webpack)?

[2015-06-30 17:04] Daniel15 commented on #9
I didn't write a blog post as such, but there's some documentation here: http://reactjs.net/guides/webpack.html

[2015-06-30 19:19] prabirshrestha opened #145 "support tsx - typescript jsx files"
Typescript supports JSX via `--jsx react` flag for `.tsx` extensions. It is currently merged in master branch but will be released in 1.6.

https://github.com/Microsoft/TypeScript/pull/3564

[2015-07-01 09:35] drewstiff commented on #9
That's great, I'll check it out.

I had looked on the ReactJS.NET blog and your personal one but didn't think of checking out the docs, thanks.

[2015-07-01 14:43] janhalama commented on #144
My conclusion is that lodash lib is not ready to be used for serverside rendering.

[2015-07-01 14:43] #144 closed

[2015-07-06 21:48] vipulnsward opened #146 "reactjs.net is down?"

[2015-07-07 08:48] Nomeasmo commented on #146
Vote +1

[2015-07-08 19:04] Daniel15 commented on #146
Is it back up now? I'm currently on vacation with very limited internet
access. I remotely rebooted the server. I'll investigate further once I'm
back.

Sent from my mobile.
On Jul 7, 2015 12:48 AM, "Nomeasmo" <notifications@github.com> wrote:

[2015-07-08 19:05] vipulnsward commented on #146
Thanks!

[2015-07-08 19:05] #146 closed

[2015-07-09 08:40] steroberts89 commented on #146
@Daniel15 Yeah its back up now :)

[2015-07-15 00:00] adamvaul commented on #64
I am still getting the error when trying to run Orc.ReactExample  web project.  I think what you are doing here is amazing and really want to check it out.  Please let me know what needs to be done.

ReferenceError: reactRoutesConfig is not defined
   at Script Document:1:13 -> Router.run( reactRoutesConfig, '/', function( Handler ) {

[2015-07-15 00:58] adamvaul commented on #64
I am also getting this error when trying to run Orc.SuperchargedReact project

Attempt by security transparent method 'System.Web.Mvc.PreApplicationStartCode.Start()' to access security critical method 'System.Web.WebPages.Razor.PreApplicationStartCode.Start()' failed.

[2015-07-18 13:56] varghesep opened #148 "Does not work with MVC 6.0.0-beta4"
I have been following the instructions on this [http://reactjs.net/getting-started/aspnet5.html](ASP.NET MVC 6.0 Integration page) to integrate React.NET with a project created in the Visual Studio 2015 RC.

I used DNX 4.5.1 to build the project. This is the error I get:

**'IApplicationBuilder' does not contain a definition for 'UseRequestServices' and no extension method 'UseRequestServices' acc

[2015-07-19 17:27] xabikos commented on #148
The sample works fine with the beta4 version of asp.net 5. From the error you mentioned I guess that you tried to build and execute the sample with beta 5 and not beta 4. Try to execute the dmvm list on a command line and see which version of dnx is active.

I am saying this as  a couple of days ago I made the changes to support the beta 5 version and will be released soon.

[2015-07-20 14:11] coyaniv opened #149 "Exception on Azure Env."
I'm getting this exception on Azure production env.
"JSPool.Exceptions.JsPoolExhaustedException: Could not acquire JavaScript engine within 00:00:05\r\n   at JSPool.JsPool.GetEngine(Nullable`1 timeout)\r\n   at React.JavaScriptEngineFactory.GetEngine()\r\n   at React.ReactEnvironment.\u003c.ctor\u003eb__13_1()\r\n   at System.Lazy`1.CreateValue()\r\n   at System.Lazy`1.LazyInitValue()\r\n   at Sys

[2015-07-26 05:26] lzliu opened #150 "Could not install package 'React.AspNet 1.5.2"
In final vs2015 (not the RC version) MVC webapplication project using NETFramework,v4.6, when I install the React.AspNet package get the following errors::

Package 'React.AspNet 1.5.2' does not exist in project 'ReactJSWeb' Package 'React.AspNet 1.5.2' does not exist in folder 'E:\Projects\vs2015\ReactJSWeb\packages' Install-Package : Could not install package 'React.AspNet 1.5.2'. You are trying

[2015-07-26 17:20] jkicha opened #151 "React.AspNet 'IServiceCollection' collection error ASP.NET 5 beta 5"
In project.json
[code]
In the Startup.cs class, it shows the following error only after adding React.AspNet. With just default empty project, it's working fine.
[code]

[2015-07-26 21:07] Daniel15 commented on #150
I think this maybe due to the fact that ReactJS.NET had a dependency on ASP.NET Beta 4, whereas you're using Beta 5. I just pushed ReactJS.NET 1.5.3 which switches the dependencies to Beta 5. Try upgrading to 1.5.3 and let me know if that works for you. Thanks!

[2015-07-27 06:48] Daniel15 commented on #151
Can you please try again with React.AspNet 1.5.3? 1.5.2 had a dependency on beta4 rather than beta5.

[2015-07-28 01:43] jkicha commented on #151
I didn't get the compilation error. It works fine.

[2015-07-28 01:43] #151 closed

[2015-08-06 08:05] TomGroeneboer opened #153 "FileLoadException on IServiceCollection.AddReact() in beta6"
Hi guys,

I'm getting a FileLoadException on services.AddReact() in the ConfigureServices method. Does someone else have this problem? And knows how to fix it? :D

Thanks!

[2015-08-06 09:47] TomGroeneboer commented on #153
I see that there were updates to project.json 2 days ago regarding to beta6, but this isn't pushed to NuGet yet, right? Maybe that's the problem?

[2015-08-06 16:46] Daniel15 commented on #153
What's the full  message and stack trace for the exception?

[2015-08-06 16:47] Daniel15 commented on #149
Try turning off polling (call `.SetReuseJavaScriptEngines(false)` in your config) and see if that resolves the issue.

[2015-08-06 16:48] Daniel15 commented on #145
Hmm, I wonder how this would work. What language is the TypeScript compiler written in? Can I somehow embed it in ReactJS.NET?

[2015-08-06 16:48] Daniel15 commented on #132
Closing this out since this is a discussion rather than an issue, but please feel free to reply if you still need assistance. Thanks!

[2015-08-06 16:48] #132 closed

[2015-08-06 16:49] Daniel15 commented on #122
This was merged in #133

[2015-08-06 16:49] #122 closed

[2015-08-06 17:36] prabirshrestha commented on #145
It is written in typescript but you can use the compiled javascript files.

JSX will be supported in typescript 1.6 which is not released yet. The best way to try it out is to use the nightly builds as documented in the ts readme.

[code]

More details at http://www.jbrantly.com/typescript-and-jsx/

[2015-08-06 21:32] yoshicarroll opened #154 "Simpler API"
I would love to have an API that worked like this:

string html = ReactRenderToString("ComponentName", "{props:'as a string'}", "//Precompiled JS bundle");

Logically just a server side wrapper around React.renderToString. I would serialize the JSON, create the bundle that has transformed JSX, and worry about reading in the bundle and caching it.

Would adding something like this be of interest?

[2015-08-06 21:45] Daniel15 commented on #154
Hmm interesting idea. I'd probably need to split [ReactEnvironment.cs](https://github.com/reactjs/React.NET/blob/master/src/React.Core/ReactEnvironment.cs) into several smaller classes. I'd like to do that at some point anyway, as it's pretty big at the moment.

Have you tried using `IReactEnvironment` directly? Perhaps you could just call `CreateComponent`.  You can get it through:
[code]
IReactE

[2015-08-07 07:09] TomGroeneboer commented on #153
Stacktrace:

    at React.AspNet.ReactServiceCollectionExtensions.AddReact(IServiceCollection services)
    at React.Startup.ConfigureServices(IServiceCollection services) in F:\React\Startup.cs:line 12

Error message:
Could not load file or assembly 'React, Version=1.5.0.0, Culture=neutral,     PublicKeyToken=9aed67b161f7db78' or one of its dependencies. A strongly-named assembly is     required.

[2015-08-07 07:41] TomGroeneboer commented on #153
I saw you updated the package to version 1.5.4, I still have the problem with that one...

[2015-08-07 07:45] Daniel15 commented on #153
That is really strange as the library **is** strongly-named. Do you get that error on a brand new ASP.NET 5 site? I can't replicate it on a new site in Visual Studio. What .NET version are you using?

[2015-08-07 08:28] TomGroeneboer commented on #153
Yeah true, it is really strange. I'm currently using the clr-x86-beta6 .net version. I'm creating an empty ASP.NET application (because we don't use MVC).

[2015-08-10 04:19] Daniel15 commented on #148
Sorry for the delay. I've pushed an update to ReactJS.NET that updates it to use Beta 6. It should now work fine on Visual Studio 2015 RTM + ASP.NET 5 Beta 6. Thanks!

[2015-08-10 04:19] #148 closed

[2015-08-10 17:10] yoshicarroll commented on #154
Using IReactEnvironment directly gave me 90% of what I wanted. Thanks. :)

Now if I wanted to reset the environment during my development workflow, is there an easy way to do that? I figure I could just re-evaluate my bundle (using Execute(bundleText) ) and that should probably work for what I need. We're using your Webpack pattern to create a separate bundle for server side components.

Using a J

[2015-08-10 19:07] Daniel15 commented on #154
It should already be automatically recycling the JS engines every time any of the loaded files change. You can also do `config.SetReuseJavaScriptEngines(false)`  in your config, which will create a new JS engine every time (slower, but you're guaranteed a fresh environment).

I already did that a while back, which resulted in [JSPool](https://github.com/Daniel15/JSPool) :)

[2015-08-10 23:18] yoshicarroll commented on #154
Haha, JSPool looks great, it's exactly what I had in mind. =)

I just looked at the engine recycling again and it looks to do exactly what it should be doing. Look like some user error on that one.

Cheers!

[2015-08-10 23:19] Daniel15 commented on #154
Glad to help, let me know if you have any other questions :)

[2015-08-10 23:19] #154 closed

[2015-08-13 00:13] zzz6519003 commented on #8
does the react project itself support sourcemap?  that way i can read source code more easily by debugging the program  XD

[2015-08-13 03:17] CityRay opened #155 "How can I close "console.warn" message"
Hi,
When I developed  through "Server-Side Rendering", it display a lot of warning.
How can I close "console.warn" message in my production.
Thanks

[2015-08-13 03:21] Daniel15 commented on #155
Fix the warnings and they'll go away :stuck_out_tongue_winking_eye:  Normally warnings are things that should really be fixed.

[2015-08-13 03:26] Daniel15 commented on #8
Yeah, source maps should be supported. ReactJS.NET supports source maps, as does React itself. Other third party libraries like Webpack, Gulp and Babel support source maps too.

[2015-08-17 04:46] keithn commented on #117
is there a work around for this? even knowing the text of the line of code that's a problem would be useful

[2015-08-17 05:07] keithn commented on #117
this is what I ended up doing....

(using node)

[2015-08-17 05:08] staznz commented on #117
I would also be very interested in this

[2015-08-17 05:26] staznz commented on #117
That works brilliantly. Thanks @keithn

[2015-08-17 05:28] Daniel15 commented on #117
Hitting the JSX file directly (rather than the combined version) should give you the right line number, as long as you have the ReactJS.NET handler configured in Web.config.

Unfortunately Microsoft's bundling/minification framework doesn't output source maps (so we've already lost the original locations by the time JSX is being processed), and they're discontinuing it with ASP.NET 5 in favour of

[2015-08-17 05:32] Daniel15 commented on #117
I'm going to close this out since Microsoft are no longer working on ASP.NET Web Optimization (`System.Web.Optimization`), and fixing this depends on changing Web Optimization to support it.

[2015-08-17 05:32] keithn commented on #117
problem is knowing which file.

[2015-08-17 05:32] #117 closed

[2015-08-17 05:33] Daniel15 commented on #143
Closing this out since it's just a question, but please feel free to continue the discussion if you like.

@PeteDuncanson I'm still considering dropping JavaScriptEngineSwitcher and depending entirely on V8, which would bring a lot of the benefits of your Supercharged project.

[2015-08-17 05:33] #143 closed

[2015-08-17 05:34] Daniel15 commented on #129
Based on your last comment it sounds like you got it working. Feel free to reopen if this is still an issue for you. Thanks!

[2015-08-17 05:34] #129 closed

[2015-08-17 08:44] PeteDuncanson commented on #143
@Daniel15 our first site running on SuperChargedReact goes live today! Will be keeping an eye on it and feeding back. Still keen on doing some PR's with our ideas/changes in for React.Net but go live has gobbled up all my spare CPU cycles :)

[2015-08-20 07:11] ssippe opened #156 "JsxBundle returns 404 and causes JavaScriptEngineSwitcher exception"
Hi,

I've wired up a jsxbundle like so...

bundles.Add(new JsxBundle("~/bundles/StandardExtraItem").Include(
                "~/Views/StandardExtraItem/extraItems.jsx"));

...and am including the bundle in my page like so...

@Scripts.Render("~/bundles/StandardExtraItem")

...but on loading the page the request to the jsx file is returning 404 when ruinning IIS Express from Visual Studio.

In the

[2015-08-20 07:14] Daniel15 commented on #156
What's the URL it's trying to hit? If optimisations are off then it'll be hitting the .jsx file directly, in which case you need to ensure you have the JSX handler correctly configured in Web.config.

[2015-08-20 08:49] ssippe commented on #156
Yes it's the .jsx file. I tried adding .jsx as a application/JavaScript mime type in web.config but that didn't help.
Is there something else required to setup the handler?
On 20 Aug 2015 5:14 pm, Daniel Lo Nigro <notifications@github.com> wrote:
but on loading the page the request to the jsx file is returning 404

What's the URL it's trying to hit? If optimisations are off then it'll be hitting t

[2015-08-24 00:26] ssippe commented on #156
Followup...

Still getting a 404 when EnableOptimizations=false for direct links to .jsx files (without original JavaScriptEngineSwitcher exception)

To repoduce:
* Created a fresh asp.net mvc 5 application
* Install from nuget  ReactJS.NET (MVC 4 and 4) and ReactoJS.NET - JSX for ASP.NET Web Optimisation Framework
* modify bundle config to include bundles.Add(new JsxBundle("~/bundles/StandardExtr

[2015-08-24 05:47] Daniel15 commented on #156
Interesting... What operating system and version of IIS are you using?

It's strange that it's throwing a 404 even though you have the correct section in the Web.config file. I'll try to replicate this issue myself later this week when I get some free time :)

[2015-08-24 05:48] Daniel15 commented on #155
Closing this out but feel free to respond if you still have questions :)

[2015-08-24 05:48] #155 closed

[2015-08-24 08:26] ssippe commented on #156
Windows 7 and iis express debugging from visual studio 2013.
On 24 Aug 2015 3:47 pm, Daniel Lo Nigro <notifications@github.com> wrote:Interesting... What operating system and version of IIS are you using?

It's strange that it's throwing a 404 even though you have the correct section in the Web.config file. I'll try to replicate this issue myself later this week when I get some free time :)

—Repl

[2015-08-31 21:20] johanforssell opened #158 "Question: how to integrate with react-bootstrap"
How would I do server side rendering and asp.net bundling when integrating react-bootstrap?
I can't get the React-bootstrap code to load properly.

[2015-08-31 23:22] Daniel15 commented on #158
What issues are you encountering? Is it throwing any errors?

[2015-09-09 15:33] mjw56 commented on #3
Hey, is there any update on this? Is anyone using react with Visual Studio? If so, what is your setup?

[2015-09-11 11:17] johanforssell commented on #158
Please close this issue, it's no longer relevant. 

- Johan Forssell

On Mon, Aug 31, 2015 at 4:22 PM -0700, "Daniel Lo Nigro" <notifications@github.com> wrote:

What issues are you encountering? Is it throwing any errors?

—
Reply to this email directly or view it on GitHub.

[2015-09-13 06:49] #158 closed

[2015-09-13 21:29] jongalloway commented on #153
I'm seeing the same error with 1.5.4 with ASP.NET 5 beta7. Note that the error message says it can't find 1.5.0.0 while the version number is 1.5.4.

I run into the same issue going through the basic walkthrough on ASP.NET MVC 5 (.NET 4.x) using the 1.5.4 version.

Error message:
System.IO.FileLoadException was unhandled by user code
  FileName=React, Version=1.5.0.0, Culture=neutral, PublicKeyTok

[2015-09-13 21:54] Daniel15 commented on #153
This is really strange. I just posted in the ASP.NET home repo (https://github.com/aspnet/Home/issues/923) to see if the ASP.NET team have any ideas.

This is expected, I only set AssemblyVersion to Major.Minor (eg. 1.5) as bugfix releases are API-compatible, so you can upgrade 1.5.3 to 1.5.4 without needing an assembly binding for code that was compiled against 1.5.3.

[2015-09-13 22:54] Daniel15 commented on #150
Closing this out since I haven't heard back, but let me know if you're still encountering issues.

[2015-09-13 22:54] #150 closed

[2015-09-14 00:07] Daniel15 commented on #153
At the moment it looks like this happens if the site is called "React", as it conflicts with ReactJS.NET's assembly name (which is **also** called "React"). Give your site another name and this won't happen any more :) Let's follow up in https://github.com/aspnet/Home/issues/800.

[2015-09-14 00:07] #153 closed

[2015-09-15 12:39] ra0o0f opened #159 "add script content in `ReactSiteConfiguration.Configuration`"
hi

can raw javascript be added to the configuration like adding script files

[code]

if there is no such method, i can submit a PR, let met know where should i do that

i found that script files are added in a `JSPool`

[code]

but i think there is a way to add other resources like react itself

thanks for bring react to the .NET

[2015-09-15 21:58] lzliu commented on #150
Sorry for delayed reply, I was busy in my project. Thanks a lot for your great work and your help!

[2015-09-15 22:06] livesoftware commented on #142
Really would be great if somehow the React Router could be used in conjunction with React.NET.

[2015-09-16 00:08] cloudybrain commented on #117
I am having this problem even when setting - BundleTable.EnableOptimizations = false;

So there really is no optimizations happening.. maybe if this is turned off, we can capture the file, and if its turned on, make the debug just as encryptive as it is now?

[2015-09-16 05:39] Daniel15 commented on #159
What's your use case? Could you just create a JavaScript file containing your code, or do you want something that's dynamically generated?

[2015-09-16 05:59] ra0o0f commented on #159
@Daniel15

i started to use flux architecture and i realize i should manage state(mostly data from server) in `stores` not `components`.
at server side rendering i do this by passing data to `component` and from there to `store`.

is there a way to execute script before each server side rendering, so i can embed data by dynamic script for `store`?

i know now that i was asking the wrong question,

[2015-09-16 09:19] PeteDuncanson commented on #142
I've been away on holiday but I'm hoping to have a play around with React.Net again and see if we can't port over some of the bits we've learnt from SuperChargedReact as promised. First up would be pulling the start up code into a external file (or at least giving you the option to) so you can run React.Router or just render a component.

[2015-09-21 05:50] sirsquidness opened #160 "Errors doing fresh build for ASP.Net 5"
Heyo,

Two issues while building ReactJS.Net for the first time, using commit 5196c1cfa4ca4ecaa66f8c1e090f0f97746a49a3 (latest on master)

First issue seems to be an incompatiblity with the latest version of git. Using `git version 2.5.0.windows.1`, build.cmd results in the following error:

[code]

Once I changed my %PATH% to point to my installation of `git version 1.9.4.msysgit.0` instead, the

[2015-09-21 09:56] mattwoberts opened #161 "Feedback: Memory issues running in production"
Hi,

Just feeding back about my experiences using React.NET in a web app I manage. I'm using react code for 2 pages in the app, which are frequently accessed edtitable lists.

The web app gets about 10,000 views a day.

So, using React.NET, I plumbed in the server-side rendering and everything seemed to work great. I load-tested with a simple "request the same react page thousands of times" test,

[2015-09-21 12:44] PeteDuncanson commented on #161
Hi Matt,

The issue is with your global vars not getting cleared up properly in ClearScript. You could try adding a bit of clean up code that runs at the end of your main entry point and ideally only on the server. We've had a few instances where we need to do just server-side stuff and a quick check it the window object exists seems to do the trick. Something like this might work:

var App = Reac

[2015-09-21 15:27] Daniel15 commented on #161
Another thing you could try is disabling engine pooling/reuse in the
config. This should not leak any memory, but it is slower as it needs to
spin up a new JavaScript engine every time.

Sent from my phone.
On Sep 21, 2015 5:44 AM, "Pete Duncanson" <notifications@github.com> wrote:

[2015-09-21 21:06] Daniel15 commented on #160
Thanks for the bug report :)

I recently fixed similar issues in one of my other projects, RouteJs (https://github.com/Daniel15/RouteJs/blob/master/build.proj#L66-L70). I need to do the same for ReactJS.NET too. Perhaps I should generalise this stuff into shared MSBuild scripts.

Not quite sure what's happening with that Git issue though. I'll need to see which version of Git my Windows box is usi

[2015-09-22 16:00] mattwoberts commented on #161
Cheers guys. Just hope this information is useful to you. I'll try and play with SuperCharged, but time constraints might not allow.

@PeteDuncanson If you do get anywhere with a pull request to bring your changes into this repo, then I'd be happy to help you test it out - just give me a shout

[2015-09-22 18:48] fpw23 opened #162 "Question: is it possible to use existing react components with this library?"
There are a number of existing components out there on site like this:

https://react.parts/web

Is is possible to use these existing components with ReactJS.net?

The component I am most interested in is this:

https://github.com/insin/newforms

I tried just including the javascript file in the ReactConfig addscript but it did not work, their example uses require to get a base javascript class an

[2015-09-22 19:17] jslatts commented on #162
Yes, you can use existing components in React.NET. Though, you need to be careful that they don't have any browser dependencies such as a reference to window (even then you can use React.NET to bootstrap the component client side and skip the server side render).

The require statements mean the module is designed for a CommonJS environment (like Nodejs), which React.NET does not provide for you.

[2015-09-22 20:44] Daniel15 commented on #162
@jslatts nailed it. ReactJS.NET does not provide a CommonJS-like environment. You will need to use Browserify or Webpack to make any `require()` statements work.

In the case of the newforms library you linked to, there's actually a standalone build in the `dist` directory in the repo (see the [Browser bundle](https://github.com/insin/newforms#browser-bundle) section of its readme). In theory, you

[2015-09-22 20:44] #162 closed

[2015-09-23 16:46] jslatts commented on #161
I think my app may be subject to the same issue. How are you guys profiling V8 to watch memory growth? I have been trying to use the Visual Studio profiler, but it keeps crashing on me. Is there a better way?

Related questions:
- With pooling turned on, is Clearscript/V8 isolating the javascript context between requests?
- Do the engines in the pool get recycled periodically? I was reading throug

[2015-09-23 18:16] Daniel15 commented on #161
At the moment it's reusing the same context. For VroomJs (V8 on Linux/Mac) when pooling is turned off, we just use one engine and create a new context for every request. Perhaps we should do the same for ClearScript too. I'm considering dropping JavaScriptEngineSwitcher and having a direct dependency on ClearScript (for Windows) and VroomJs (for Linux and Mac) which should allow V8-specific optimi

[2015-09-23 23:48] jslatts commented on #161
Thanks Daniel, that is helpful. So on the windows side, with pooling off, a new engine is created per request?

This might be more for @PeteDuncanson:

I read through your other issues and the referenced Clearscript issues as well. I just ran an experiment to confirm that I can delete out my global variables if needed, but now I'm wondering if that is actually required...

If the context is shared

[2015-09-24 06:41] Daniel15 commented on #161
That's right. I think once I drop JavaScriptEngineSwitcher I'll make it reuse the same engine and just create a new context per request.

That's right. You only need to delete global variables if you're actually creating global variables per-request. Local variables are fine.

[2015-09-24 09:42] PeteDuncanson commented on #161
We've been using https://www.jetbrains.com/dotmemory/ and http://www.red-gate.com/products/dotnet-development/ants-memory-profiler/ for checking memory usage. Ants has better support for showing unmanged memory which is the main issue with ClearScript.

We are a bit spoilt with .net's Garbage Collection but in ClearScript its a bit more lazy, it seems if you set a global var it hangs around, delet

[2015-09-24 09:49] PeteDuncanson commented on #161
@jslatts Regarding your global scope query, we had some Flux Stores, React Router routes and our JSON data that gets poked into our root component as props all poked into global. That was our issue, if you don't use global you should be good to go and normal JS GC should do its thing. Just be aware the V8 is very lazy at GC and likes to do it sort of at the last minute (ie your memory has to go th

[2015-09-24 12:28] mattwoberts commented on #161
@jslatts  Re: Profiling, I wasn't using any of the profiling tools, since the issue was only apparent when in production - locally I could hit the page thousands of times and not spot much of an issue. For me it was just a case of turning off server rendering and seeing the change in memory usage.

@Daniel15 I think I'm with you and @Daniel15 re: having that split - I also looked at implementing s

[2015-09-24 15:25] Daniel15 commented on #161
If I remember correctly, JSPool forces a garbage collection regularly, when
engines are returned to the pool.

Sent from my phone.
On Sep 24, 2015 5:28 AM, "mattwoberts" <notifications@github.com> wrote:

[2015-09-25 17:01] fpw23 commented on #162
Wow, you were right, webpack really is awesome!  I got a demo working that is based off your webpack demo, it is using the newforms and newforms-bootstrap packages!!  Server side rendering works really well!  here is a [link](https://github.com/fpw23/ReactDemo) to it.  I do have some questions though:

1) in my demo I was able to create a folder hierarchy for my SignUp.jsx file by placing it in a

[2015-09-25 18:39] Daniel15 commented on #162
Yes, you need all the server-side JS on the client-side, but the reverse isn't true. You'll probably use at least some libraries client-side that can't run server-side (for example, any scripts that use AJAX, DOM, or `window`). That's why I suggest creating two separate bundles. Alternatively you could create a "shared" bundle and a "client" bundle - In that case you'd load the shared one server-s

[2015-09-28 10:25] PeteDuncanson commented on #162
As the bundle would be running on the server I tend to be pragmatic and not care if its got client-side stuff in. I tend to use only code thats in CommonJS format (ie just about anything built to run on Node.js). For Ajax stuff I use SuperAgent which plays nice. Thanks to Danels shims file which creates some global vars that try to keep most stuff working. If I do get anything "tricky" that needs

[2015-10-07 06:23] samwa opened #163 "Dependency on git.exe"
I think dev-build.bat has a dependency on git.exe which I don't have installed
I get an error when running that batch file

"C:\Projects\React.NET-master\React.NET-master\b
uild.proj" (default target) (1) ->
(UpdateVersion target) ->
  C:\Projects\React.NET-master\React.NET-master\
build.proj(50,3): error MSB4018: The "GitVersion" task failed unexpectedly.\r
C:\Projects\React.NET-master\React.NET-

[2015-10-07 06:30] samwa commented on #163
Even with git installed and in my path, the build still errors because I don't have a local git repo to get the version number from. I ended up just removing the GitVersion msbuild task from the build.proj file

[2015-10-07 17:40] Daniel15 commented on #163
Yes, the build uses Git as the assembly version contains the Git commit hash of the code used to build the library. The build makes some assumptions about the environment, and that's one of them. I'll add it to the readme. Perhaps I should modify `build.proj` to skip that step if Git is not installed.

[2015-10-07 17:57] Daniel15 opened #164 "Upgrade to React 0.14"
http://facebook.github.io/react/blog/2015/10/07/react-v0.14.html

[2015-10-11 08:03] Daniel15 commented on #160
Fixed, confirmed via the AppVeyor build (which spins up a new environment for every build): https://ci.appveyor.com/project/Daniel15/react-net/build/3

[2015-10-11 08:03] #160 closed

[2015-10-11 09:09] Daniel15 commented on #131
Going with Babel instead.

[2015-10-11 09:09] #131 closed

[2015-10-11 09:11] Daniel15 commented on #138
Mostly done in dd752222d02b6ebd0dcdf69619a23d312d0b7f65. There's still a few things I'd like to do (eg. allow configuration of Babel options) but the basic stuff is there.

[2015-10-11 09:16] Daniel15 opened #166 "Make loading of Babel configurable"
Babel is pretty large (~2 MB). If the user has already transformed their JS (eg. through Browserify or Webpack) and only uses `AddScriptWithoutTransform`, we don't need to load Babel at all

 - Add config option (eg. `LoadBabel` or something)
 - If `AddScript` is called but `LoadBabel` config option is disabled, throw exception explaining that it won't work

[2015-10-11 19:43] Daniel15 commented on #64
Going to close this since it's just a discussion topic, but please feel free to continue commenting if you have other questions :)

[2015-10-11 19:43] #64 closed

[2015-10-11 20:50] Daniel15 opened #167 "Include file name in Babel errors"

[2015-10-11 21:21] Daniel15 opened #168 "Rename "JsxTransformer" to "BabelTransformer"?"

[2015-10-11 22:43] Daniel15 opened #169 "Update descriptions for NuGet packages to mention Babel"

[2015-10-11 22:55] #166 closed

[2015-10-11 22:55] #167 closed

[2015-10-11 22:55] #168 closed

[2015-10-11 22:56] #138 closed

[2015-10-11 23:31] #164 closed

[2015-10-11 23:53] #118 closed

[2015-10-11 23:54] Daniel15 commented on #137
Closing this out since it's mainly a discussion, but feel free to comment if you have any other feedback :)

[2015-10-11 23:54] #137 closed

[2015-10-16 14:53] dhruska commented on #64
Stumbled across this and very interested - @Daniel15, did any of the ideas @PeteDuncanson was exploring ever make it into ReactJS.NET? I'm exploring the possibility of trying to render server-side a page I plan to build with React and react-router (on top of .NET).

[2015-10-16 14:58] PeteDuncanson commented on #64
@dhruska I've got a fork going with some of the work in but not touched it in a while and I know its not finished. Too many things on at work at the minute :(

[2015-10-17 05:45] code4aman opened #171 "asp.net beta 8 support?"
Just updated to beta 8 and react [tutorial](http://reactjs.net/getting-started/aspnet5.html) sample won't start. Problem in:
[code]
And loader exception says:
[code]
Must be some beta 8 namespaces update, or something. I.e. I found `Microsoft.Framework -> Microsoft.Extensions` rename in aspnet repo

[2015-10-17 09:31] Daniel15 commented on #171
Yeah, beta 8 only came out earlier this week, and I haven't gotten around to upgrading to it yet. I'll try to do that tomorrow. :)

[2015-10-17 09:43] code4aman commented on #171
Trying to build via `dev-build.bat`. How to specify which `dnx` to use?
Cause I have installed `beta7` and `beta8`, so my `dnu` uses `beta8` by default. Therefore can't generate `SharedAssemblyVersionInfo.cs` file

[2015-10-17 09:51] Daniel15 commented on #171
Try run `dnvm use beta7

[2015-10-17 09:52] Daniel15 commented on #171
Try run `dnvm use beta7` before running `dev-build.bat`

[2015-10-17 20:23] Daniel15 opened #172 "Only load Babel when needed"

[2015-10-17 21:22] Daniel15 commented on #171
I submitted a diff to upgrade to beta 8, however I'm encountering build errors. I posted to https://github.com/aspnet/Home/issues/999 to get help from the ASP.NET team.

[2015-10-17 22:26] Daniel15 commented on #171
Found a fix and merged the changes to master :+1:

[2015-10-17 22:26] #171 closed

[2015-10-17 22:45] #172 closed

[2015-10-17 22:45] Daniel15 commented on #169
Fixed in https://github.com/reactjs/React.NET/commit/8ca36fba36077aa10cb88f5bbd025d810d5e2861

[2015-10-17 22:45] #169 closed

[2015-10-17 22:46] Daniel15 commented on #135
Closing this out since I haven't had any other requests for this.

[2015-10-17 22:46] #135 closed

[2015-10-17 23:41] Daniel15 opened #173 "Update templates for 2.0"
eg. sample config

[2015-10-18 00:04] #173 closed

[2015-10-18 01:00] Daniel15 commented on #163
Added a note to the readme (https://github.com/reactjs/React.NET/commit/438c8970e28cdd1a17352a4a65841aacb74f3982).

[2015-10-18 01:00] #163 closed

[2015-10-18 01:01] Daniel15 commented on #149
I haven't heard back so I'm going to close this out, but let me know if you're still encountering issues. I know at least several people are successfully using ReactJS.NET on Azure, so this seems like a config issue. Turning off JS engine pooling may work around the issue :)

[2015-10-18 01:01] #149 closed

[2015-10-19 14:56] dhruska commented on #64
@PeteDuncanson I totally get that - if you end up picking it up again I'd love to help out.

[2015-10-20 03:31] Daniel15 commented on #64
None of the ideas from @PeteDuncanson's work have made it into ReactJS.NET yet.

@grahammendick had [an interesting approach too](http://navigation4asp.net/2015/10/13/progressive-enhancement-enhanced/) - Using Edge.js rather than V8. Edge.js lets you call Node.js from .NET, and it handles async calls pretty well (this is the main limitation of using V8 directly, a lot of the wrapper libraries don'

[2015-10-20 16:51] SoonDead opened #176 "'this' is undefined on the server side"
Upon upgrading to 2.0 the server side rendering broke:

To render numbers and dates in an i18n compatible way I'm using numeral.js and moment.js. Both of them are written in a way that uses `this` as the global object, like

    (function () {
        // here, `this` means `window` in the browser, or `global` on the server
        // add `numeral` as a global object via a string identifier,

[2015-10-21 00:47] PrimeObjects opened #177 "Is there a function I can call to input a JFX and output a min javascript?"
For example

string c = "var React = require('react');" +
"var ReactDOM = require('react-dom');" +
"ReactDOM.render(" +
"&lt;h1&gt;Hello, world!&lt;/h1&gt;," +
"document.getElementById('example')" +
");";

string resultjs = AFUNCTION(c);

[2015-10-21 01:15] Daniel15 commented on #177
Do you mean you have some code containing some JSX in a C# string, and want to compile it? You can do something like this:

[code]

You could instead use the `TransformWithSourceMap` method to get a source map too.

[2015-10-21 01:47] PrimeObjects commented on #177
Tried your script in a controller. I got the error below. I'm on .NET 5 beta7

System.InvalidOperationException
No service for type 'React.IReactEnvironment' has been registered.

[2015-10-21 13:48] dorward commented on #76
While that holds for `className`, it doesn't for `onclick` which must be all lower-case in DOM.

    button.className = "foo bar baz";
    button.onclick = function (e) { /* event handler */ };

[2015-10-21 17:26] Daniel15 commented on #76
@dorward  - Might be a good question to ask in the React repo or somewhere similar, this is not specific to ReactJS.NET :)

[2015-10-22 06:07] Daniel15 commented on #176
Thanks for the report, I'll take a look this weekend. This may be due to how Babel handles `this` compared to JSXTransformer.

[2015-10-22 06:12] Daniel15 commented on #176
Looks like I need to blacklist the "strict" transformer. From [the Babel docs](https://babeljs.io/docs/faq/#why-is-this-being-remapped-to-undefined-):

$ babel --blacklist strict script.js
[code]

You could try hacking this into [the ReactJS.NET Babel config](https://github.com/reactjs/React.NET/blob/master/src/React.Core/BabelConfig.cs#L63):

[code]

If you do try that out, let me know if it work

[2015-10-22 12:30] HeavenMaster opened #178 "Server-side rendering without ASP.NET MVC"
Is it possible using React.NET?

[2015-10-23 23:17] Lenne231 commented on #83
Is it possible to debug the JS code executed with V8 with VS?

[2015-10-24 03:59] #176 closed

[2015-10-24 03:59] Daniel15 commented on #176
Fixed in 2.0.1, thanks for reporting!

[2015-10-24 04:38] Daniel15 commented on #178
Sure! See [HtmlHelperExtensions.cs](https://github.com/reactjs/React.NET/blob/master/src/React.AspNet/HtmlHelperExtensions.cs#L82) to see how it's hooked up in ASP.NET MVC. You could just call the same methods some other way. In 0dbd639efeb1387b1b82850667953e8fd7e441e7 I added an example showing how to render a React component from within a console application. There's a bit more code than I'd lik

[2015-10-24 05:29] Daniel15 commented on #83
Not at the moment. I'm not quite sure how to implement that :)

[2015-10-24 05:32] Daniel15 commented on #177
What was the error? You need to have the ReactJS.NET services registered in Startup.cs in order to use it.

[2015-10-24 05:48] Daniel15 commented on #117
@cloudybrain  - Setting `BundleTable.EnableOptimizations = false` should give you errors with correct file names and line numbers. This has been improved a bit in ReactJS.NET 2.0 and the error messages should be more useful now :)

[2015-10-24 06:42] xaclincoln commented on #145
Is typescript supported now (2015/10/24), guys?

[2015-10-24 07:36] Spookenator opened #180 "BabelBundle adds "Use Strict""
Hey dude, hope your keeping well.

I see the babelbundle adds use strict to the react classes. I know its implicit for the ES6 classes, but its messing up my legacy controls. Is there a way to disable this behaviour from the bundling's side?.

Looking forward to your reply.

[2015-10-24 08:13] Daniel15 commented on #180
Already fixed in 2.0.1 released today :)

[2015-10-24 08:13] #180 closed

[2015-10-24 09:45] HeavenMaster commented on #178
Many thanx for the detailed answer, Daniel!
I haven't tried yet, but it looks pretty helpful.

[2015-10-24 09:45] #178 closed

[2015-10-27 10:41] SoonDead commented on #176
Works perfectly, thanks.

[2015-11-02 16:38] gregbty opened #181 "IOException caused script watcher"
I am using Gulp in my development workflow to handle the compilation of assets including my React components. I usually prefer to keep the IIS Express server running locally so that when I re-build my server-side code (C#) and/or assets, I do not have to restart it.

After each build, the local IIS Express crashes due to an IOException. In the previous version of React.NET (1.5.5), the stack trace

[2015-11-03 06:10] Daniel15 commented on #181
Is there any stack trace for that error message, or do you just see the error message with no stack? It would be awesome if you could somehow find a stack trace for the error.

Try `.SetReuseJavaScriptEngines(false)` on your config and see if that helps. That will make page loads slower (it spins up a brand new JS engine on every page load) but should avoid any file locking issues.

[2015-11-03 12:05] RPrimrose opened #182 "Using MD5 for the FileCacheHash causes exception to be throw if FIPS compliance group policy is enabled"
Hi,
we recently tried installing an application using ReactJS.NET on a machine with the "System cryptography: Use FIPS-compliant algorithms for encryption, hashing, and signing" Group Policy enabled. There's more information on that policy here https://support.microsoft.com/en-us/kb/811833

The policy is causing the following exception to be thrown "System.InvalidOperationException: This implement

[2015-11-03 14:20] gregbty commented on #181
I was able to see the stack trace on a previous version of the library but not with the latest.

I will try that later today. If that does work, is there no way to monitor the files without locking or restarting the engine if an IOException is detected? I would rather have the fast page loads.

[2015-11-03 17:52] Daniel15 commented on #182
Interesting, I didn't know about that setting. I used MD5 because it's fast and fine to use for file hashing (doesn't need to be cryptographically secure) but it's probably fine to change it to SHA512 instead. Feel free to send a pull request :smile:

Do you know which algorithms are allowed when FIPS-compliant algorithms are enforced? I think using whichever one is fastest would be sufficient for

[2015-11-04 09:16] manuelfsixtour opened #183 "Array.find() in constructor/render is undefined"
Trying to call `Array.find()` in **constructor** or **render** methods of a React component throws an exception:

[code]

Code example:

[code]

Oh the other hand, trying to call the same function on another "non-React" method works well.

Thanks.

[2015-11-04 09:42] TomasHubelbauer commented on #183
Is the array really hardcoded or is it something like `this.props.myArray` or `this.state.myArray` which could be not present at the first render, then asyncly loaded and present on the second render? Log the array to the console to make sure it is valid at the time of rendering.

[2015-11-04 09:46] manuelfsixtour commented on #183
The array is not really hardcoded, but the example above does not work.
So, it wouldn't work also with something like `this.props.myArray` or `this.state.myArray`.

[2015-11-04 09:48] TomasHubelbauer commented on #183
Ok then if you log the array, the result of `find` and the result of `value`, at what point in this chain is `undefined` introduced?

[2015-11-04 10:02] manuelfsixtour commented on #183
It is a rendering exception, I am not able to log anything.

I'm using the `Html.React` helper like this:
[code]

With the following (and only the following) code:

[code]

I get this exception (without any console log):

![image](https://cloud.githubusercontent.com/assets/2269491/10934917/fc88e61a-82e2-11e5-98a5-c515163828c1.png)

[2015-11-04 11:44] RPrimrose commented on #182
Yeah, it was a new one to me as well.

Strangely MSDN doesn't seem to have an official list of FIPS-compliant algorithms but http://blogs.msdn.com/b/icumove/archive/2009/01/31/working-with-fips-in-net-c.aspx has some info.

I've gone with SHA1Cng in the pull-request, should be a bit faster than SHA512.

[2015-11-04 11:54] PeteDuncanson commented on #182
This ones gold dust. Great find.

[2015-11-05 06:55] deevus opened #185 "Server-side i18n"
Any suggestions on how to do this? Is there a suggested framework for integrating i18n? If I was using Razor it would be something like `R.SomeResource`.

Currently I'm passing the required resources to `@Html.React` as props, but this is not ideal as it looks messy.

[2015-11-06 12:43] SoonDead opened #186 "ReactDOM is not defined server side by default"
I'm using React.NET with Webpack.

The internals of my `ReactConfig`:

    ReactSiteConfiguration.Configuration.SetLoadBabel(false)
        .AddScriptWithoutTransform("~/Scripts/build/server.bundle.js");

The server bundle does not contain React. Therefore I put this in my `webpack.config.js`:

    externals: {
        react: 'React',
        "react-dom": 'ReactDOM',
    }

ReactDOM is undefined o

[2015-11-06 14:38] PeteDuncanson commented on #186
I went through all this too for several days with Browserify, in the end I just included React in my bundle (via Webpack which is far easier to use and reason about than Browserify). I understand this might not be ideal (which is why I worked on it for days) but in the end it solved a lot of my issues. Is that something you can do?

[2015-11-06 17:59] SoonDead commented on #186
I might be able to pack react-dom into my bundle, only React needs to be in he global scope. I will try that on monday.

The woraround I mention works fine too, it is just ugly.

[2015-11-06 18:03] Daniel15 commented on #186
How are you loading React? If you're loading it from a CDN, you just need to load ReactDOM in addition to React:

[code]

[2015-11-06 18:25] SoonDead commented on #186
On the client side I'm referencing react.js and react-dom.js locally.

On the server side I'm using whatever ReactJS.NET uses by default.

My issue is only a server-side one. I'll explain it in more detail on monday.

[2015-11-06 18:26] Daniel15 commented on #186
ReactDOM shouldn't be used server-side, it's only for client-side stuff. Perhaps something is unintentionally using it server-side. Are you able to provide a stack trace of the error you're encountering?

[2015-11-06 22:51] SoonDead commented on #186
It is used by the modal component of react-bootstrap. There is a `var ReactDOM = require('react-dom')` at the start of a file and although the server does not actually call anything on it the require fails.

[2015-11-07 05:37] Daniel15 commented on #186
To be honest I think your workaround is fine for now, even with the scary `SECRET_DOM_DO_NOT_USE_OR_YOU_WILL_BE_FIRED` :laughing:

I'll probably end up doing something like this in `shims.js`:
[code]

At which point you could do `'react-dom': 'ReactDOM'`in your Webpack `externals`

[2015-11-08 00:26] Daniel15 commented on #182
Fixed in 96b6f56eba05ea0ab52183fee460b5e7a7392f12, thanks @RPrimrose!

[2015-11-08 00:26] #182 closed

[2015-11-08 00:30] Daniel15 commented on #183
Interesting, it sounds like `Array.prototype.find` is missing. I'm pretty sure V8 has native support for `find` though...

Try `console.log(Array.prototype.find ? 'Exists' : 'Does not exist')` and see what you get? If it's missing for some reason, you can polyfill it (stick the code at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find#Polyfil somewhere)

[2015-11-09 10:03] manuelfsixtour commented on #183
Thanks. It seems that it does exist and does not exist at the same time! :)

![image](https://cloud.githubusercontent.com/assets/2269491/11030816/c081b1f0-86d0-11e5-8c5c-20c16e5edad3.png)

I suppose that the **V8** dll in the solution is not fully compliant with the actual V8 engine.

[2015-11-09 16:17] NaorShlomi opened #187 "How to provide my own version of React"
I read the documentation of Facebook about the option to load the React production version without the error/warnings messages.

When i try load my own version of React (production) i get the following error:

I have gulp task that concatenate the React files with my other files.

This is my ReactConfig.cs:
[code]

[2015-11-09 17:54] Daniel15 commented on #187
Make sure your `react-server.js` exposes React globally - This is also required for the React dev tools to work.

How are you building `react-server.js`? If you're using Webpack, you should use [expose-loader](https://github.com/webpack/expose-loader) to expose React.

[2015-11-09 20:27] cloudybrain opened #188 "In production! Object doesn't support this property or method"
I have deployed this project with reactjs.net on 4 different environments (works on my machine, works on a dev cloud machine - aws), works in a dev box environment, and works in a dev remote dev box environment, but when we deployed to the machine that really matters - in production we're getting a very weird error.

We updated to the latest ReactJS.NET using Babel bundling v 2.0.1

And we're gett

[2015-11-10 09:15] SoonDead opened #189 "React.Exceptions.ReactScriptLoadException shuts down debugging and IIS Express"
Nowadays whenever I have a ReactScriptLoadException my debugging session shuts down.

I feed a webpack bundle to reactjs.net and whenever it changes (there is a separate webpack -w console that recompiles it) reactjs.net tries to reexecute it, throws an exception and that shuts down my iis express.

So basically everytime I hit ctrl+s on a jsx halfway through writing a function (where some variabl

[2015-11-10 09:22] NaorShlomi commented on #187
Thanks..it's works :)

[2015-11-10 09:41] NaorShlomi opened #190 "JavaScriptEngineSwitcher.Core.JsRuntimeException: Unknown error; potential stack overflow detected"
I set the AllowMsieEngine flag to false and i get the following error:

[code]

[2015-11-10 11:28] PeteDuncanson commented on #188
I suspect the TinyIoC errors are a symptom not the cause.

Have you tried running it with the V8 engine instead? The MS one can be flakey (we had similar issues with it but much early on in our dev cycle). The fact it works on 3 other enviros means there has to be a difference between those and the 4th one. Could be its got a different version IE on the production server for instance? Tricky one t

[2015-11-10 12:11] PeteDuncanson commented on #190
Well, this all depends on what script you are actually running. What are you calling on line 19 of Header.cshtml? Something in there is looping like crazy and causing the engine to detect a stackoverflow error.

[2015-11-11 06:08] chadangerer opened #191 "ReactJS.NET has not been initialised correctly on Azure Web app"
I have an existing MVC website and am starting to convert some of the UI to react components.  Locally everything is working fine.

When I deployed to azure I got the error message
`ReactJS.NET has not been initialised correctly.;StackTrace:   at React.Web.Mvc.HtmlHelperExtensions.get_Environment()
   at React.Web.Mvc.HtmlHelperExtensions.ReactInitJavaScript(HtmlHelper htmlHelper)`

I am pretty mu

[2015-11-11 06:17] Daniel15 commented on #190
This is a strange one, I've never seen that before. It sounds like V8 just *thinks* it's a stack overflow, but it doesn't know for sure. I'm not seeing this on my test machine running Windows 8. Additionally, I did try ReactJS.NET several months ago on Azure and it worked fine, I wonder if anything's changed since then though.

What environment is this on? Which operating system and .NET version?

[2015-11-11 06:17] Daniel15 commented on #187
:+1:

[2015-11-11 06:17] #187 closed

[2015-11-11 06:18] Daniel15 commented on #189
Wow, that's terrible :/

Try calling `.SetReuseJavaScriptEngines(false)` in your `ReactConfig.cs` and see if that helps.  It will make page loads a bit slower, but it should be more reliable in this case.

[2015-11-11 06:19] Daniel15 commented on #188
What differs between your production box and your dev cloud machine? Is it a different operating system?

[2015-11-11 06:21] Daniel15 commented on #191
Which version of ASP.NET MVC are you using? What version of .NET are you using in Azure?

[2015-11-11 06:26] cloudybrain commented on #188
I'll try switching to V8. As far as the difference, I'm really not sure. The network admin says that the only difference is production is external facing, and the dev box is not. Same OS,  same .NET framework version, same IIS version.

[2015-11-11 06:28] Daniel15 commented on #188
Hmm, really strange that the behaviour would differ between the two then...

Do you have a full stack trace of the error?

[2015-11-11 06:29] cloudybrain commented on #188
Btw, @peteducanson,  does having a different IE version installed play a factor in displaying the yellow screen of death? I wouldn't think that'd be a difference..

[2015-11-11 06:29] Daniel15 commented on #188
Different IE version has an effect on the behaviour of `MsieJavaScriptEngine` :)

[2015-11-11 06:30] Daniel15 commented on #188
Different IE version has an effect on the behaviour of `MsieJavaScriptEngine` - For example you could have code that only works in newer IE versions :)

[2015-11-11 06:33] cloudybrain commented on #188
Hmm, well we did check other browsers like chrome and android, same difference. For stacktrace, when I get into work tomorrow, I'll see what if there is any more details I can give you.

[2015-11-11 06:35] Daniel15 commented on #188
The `MsieJavaScriptEngine` is actually what executes the JavaScript code server-side; the client-side environment doesn't affect that. Normally V8 is used server-side, but the MSIE engine is used as a fallback.

As a test, I'd suggest doing `.SetAllowMsieEngine(false)` in your `ReactConfig.cs`, and then test that out on both your dev machine and prod machine. Most likely V8 is failing to initialis

[2015-11-11 06:40] cloudybrain commented on #188
Alright thanks,  I'll show you what I'll come up with within the next two days (maybe tomorrow). Thanks for your time and patience in this.

[2015-11-11 06:58] chadangerer commented on #191
MVC 5 and .NET 4.6

[2015-11-11 15:02] chadangerer commented on #191
Interestingly enough, I originally had the React.Owin package installed and wasn't using it. I removed it via nuget redeployed and Reactjs.Net seems to be working properly on Azure now.  Any thoughts on that?

[2015-11-11 20:22] shadowii opened #192 "Shouldn't AddScriptWithoutTransform already imply no Babel?"
I just noticed I have to specify `ReactSiteConfiguration.Configuration
                .SetLoadBabel(false)` to the ReactConfig if I want to add a script that's already been transformed by something like webpack.

However, even though I'm using webpack, sometimes I just want to include a jsx file directly in my html for some quick testing. But that will throw an error: `Babel has not been loaded,

[2015-11-12 05:56] Daniel15 commented on #192
You need `LoadBabel` turned on if you ever want to hit JSX files directly. Babel will still be lazy-loaded only as needed. I could probably even remove the `LoadBabel` flag now as it's not really useful. Babel used to be loaded upfront as soon as the JavaScript engine was initialised, but I changed it fairly late during development of 2.0 to only load as-needed, when you actually try to transform

[2015-11-12 07:16] SoonDead commented on #189
Yes it actually helps, thanks.

Also to try to nail down the exact issue:

Debugging only shuts down if the exception happens outside of a request (if it happens during (or more precisely as a result of) a request the error page is properly shown).

It is happening for both syntax errors and execution errors.

[2015-11-13 12:21] aeleftheriadis opened #193 "Please add support for Babel 6.0"
Since the release of Babel 6 the package doesn't work with webpack example.

I receive the following error on my browser

Error while rendering "Components.HelloWorld" to "react1": Error: Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.
   at invariant (Script Document [2]:20215:15) ->     thro

[2015-11-15 02:39] ovatsug25 opened #194 "No recompile of JSX file when debugging"
ReactJS.NET is not recompiling when debugging.

It compiles once, and then it remains static.

Strangely, when I make an error in my and my app is already built, I can fix the JSX and it will compile without having to rebuild my app but it will only do that once.

Where should I be looking to fix it?

My Web.config has

    <system.web>
        <httpHandlers>
          <add verb="GET" path="*.jsx"

[2015-11-15 23:39] Daniel15 commented on #194
Are you doing server-side rendering at all (ie. `Html.React` calls in your views)?
If you hit the .jsx file in your browser directly, do you see the changes? What if you press Ctrl+F5 (ie. bypass the cache)?

[2015-11-15 23:41] Daniel15 commented on #191
Interesting, I'm not sure why the React.Owin package would cause that.  Anyways, it sounds like it's fixed after uninstalling React.Owin, so I'm going to close this issue. I'll try to figure out why the OWIN package results in issues like this.

[2015-11-15 23:41] #191 closed

[2015-11-16 00:23] Daniel15 commented on #189
I have a feeling this is happening because the exception is happening on a background thread. ReactJS.NET watches all files you load, and recycles the JavaScript engines if any of those files change. If any errors are encountered while loading the JS file, an exception is thrown. This approach is fine for initial load (as it's fine to throw exceptions on the request thread), but not for background

[2015-11-16 00:26] Daniel15 commented on #189
this should only be an issue with how scripts are loaded when you use `AddScriptWithoutTransform`. If you instead use `AddScript`, the error is handled correctly (as those scripts are loaded as part of the request, if they haven't already been loaded).

[2015-11-16 04:40] Daniel15 opened #195 "Add ReactEnvironment.Current as a shortcut to get the current environment"
Old:

[code]

New:

[code]

[2015-11-16 06:42] SoonDead commented on #189
Yes, I'm using `AddScriptWithoutTransform` because I already transform my scripts with webpack.

[2015-11-16 06:51] Daniel15 commented on #189
@SoonDead  - Can you please try out the latest dev build and see if it's any better? You can add `https://ci.appveyor.com/nuget/reactjs.net` as a NuGet package source to get the dev packages. Use version `2.0.2-dev-20151116-0644

[2015-11-16 06:52] Daniel15 commented on #189
@SoonDead  - Can you please try out the latest dev build and see if it's any better? You can add `https://ci.appveyor.com/nuget/reactjs.net` as a NuGet package source to get the dev packages. Use version `2.0.2-dev-20151116-0644` or higher.

[2015-11-16 07:12] SoonDead commented on #189
I'll try it when I get to work (in about 1-2 hours).

[2015-11-16 12:31] SoonDead commented on #189
It seems to be working OK (it's not throwing exceptions when on a background thread).

I have no idea if the javascript engine is properly reused or not, but the react component properly renders upon subsequent requests when the error is fixed.

[2015-11-16 13:39] virtualsurfer opened #196 "Incorrect line number when debugging in browser"
Hi, we found an issue when debugging javascript inside jsx, with chrome, firefox or IE.
Dev tools seems to be showing different execution line numbers, and doesn't match with expected line numbers.

Next image shows that first breakpoint hit after call "_onSubmitClick" is an empty line.

![image](https://cloud.githubusercontent.com/assets/13456485/11182667/2b69372a-8c4b-11e5-9be8-05a5f8b9d271.png)

[2015-11-17 04:55] Daniel15 commented on #192
Closing this out since I don't think there's anything to actually do here, as per my comment :smile:

[2015-11-17 04:55] #192 closed

[2015-11-17 04:57] Daniel15 commented on #185
Sorry, I'm not too sure, I don't have much experience with i18n in JavaScript. This seems like a broader question though, rather than something specific to ReactJS.NET. Perhaps ask on StackOverflow? :)

[2015-11-17 04:58] Daniel15 commented on #189
Thanks for the confirmation!

[2015-11-17 04:58] #189 closed

[2015-11-17 05:07] Daniel15 commented on #196
Interesting, sounds like the source map is incorrect. For now you can disable source maps in the Chrome dev tools settings - The code won't be as pretty (as it'll show you the code after transformation rather than your original code) but should still be sufficient for debugging.

[2015-11-17 05:48] Daniel15 commented on #193
I started working on this, but I'm currently blocked by https://phabricator.babeljs.io/T6643

[2015-11-17 06:27] Daniel15 commented on #181
How do you generate the `server.js` file? Are you using Webpack, or just Gulp? Can you provide a small Gulpfile that replicates the issue? I haven't seen any similar issues with Webpack.

[2015-11-17 06:34] #186 closed

[2015-11-17 06:34] #195 closed

[2015-11-17 13:12] virtualsurfer commented on #196
Disabling source maps works just fine.
Thanks

[2015-11-17 19:31] gregbty commented on #181
I can. Here is the stack trace:

[code]

[2015-11-17 20:06] Daniel15 commented on #181
Thanks for the stack trace!

I wonder if JSPool should avoid recycling the pool of JavaScript engines until none of the watched files are locked. Currently it debounces the recycle to handle the case where there's a few changes to the same file in a short period of time. The delay could be increased ([currently it's 25ms](https://github.com/Daniel15/JSPool/blob/master/src/JSPool/FileWatcher.cs#L34

[2015-11-18 06:22] Daniel15 opened #197 "Use React packages from NPM"
See https://github.com/facebook/react/pull/5381

Need to have a bundle like this:
[code]

And Webpack it to produce the `react.js` file that should be loaded by ReactJS.NET

[2015-11-18 18:35] alekkowalczyk opened #198 "Server-side rendering on Azure WebSite with importing 3rd party JS files."
Hi!,

I'm using ReactJS.NET 2.1 in my latest project, everything locally works great, but I have a problem after publishing to an Azure WebSite.
I have a few React components, and I'm using React-bootstrap.js, everything in ASP.NET 5. That is how my Startup.cs looks like when it comes to configuring React for server-side rendering:

    // Add ReactJS.NET to the request pipeline.
                a

[2015-11-19 06:16] Daniel15 opened #199 "Upgrade ASP.NET 5 support to RC1"

[2015-11-19 06:20] Daniel15 commented on #198
It sounds like it's using the V8 engine locally, but the MSIE engine when uploaded to Azure. V8 supports more stuff than MSIE does, and it looks like that error is coming from an `Object.create` polyfill. This engine switching is a source of confusion so I'm probably just going to remove the MSIE engine in a future version of ReactJS.NET.

In the meantime, try call `.SetAllowMsieEngine(false)` in

[2015-11-19 12:02] bstaks opened #200 "adding in TransformBabel proj then compiling issue"
Hi
 I am getting prob then add i am not compile our project always getting error this

Severity	Code	Description	Project	File	Line
Error		The command ""C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe" TransformBabel.proj /nr:false /p:Configuration=Debug" exited with code 1.	React.Sample.Mvc4	C:\Anguler\React.NET-master\src\React.Sample.Mvc4\React.Sample.Mvc4.csproj	232

I am adding also React.

[2015-11-19 13:02] alekkowalczyk commented on #198
I set `.SetAllowMsieEngine(false)' and now it doesn't work locally.

I added the `JavaScriptEngineSwitcher.V8` nuget package but it didn't help.

That is the exception I get:

     An unhandled exception occurred while processing the request.

     DirectoryNotFoundException: Failed to load the ClearScriptV8 assembly, because the directory 'C:\Users\alek\.dnx\runtimes\dnx-clr-win-x86.1.0.0-beta8\C

[2015-11-21 07:14] Daniel15 commented on #199
Updated with v2.1.2

[2015-11-21 07:14] #199 closed

[2015-11-21 20:40] Daniel15 commented on #200
What output do you get when you run that same command yourself?

[2015-11-24 16:03] joaker opened #201 "JSX source maps not loading for MVC5.2.3+ReactJS.Net2.1..0"
I have an MVC.Net application that recently upgraded from MVC4 and ReactJS.Net 1.5 to MVC 5.2.3 and React 2.1.0.  The source maps, which previously loaded fine with version 1.5, no longer load at all.

When using ReactJS.Net 1.5, if I requested a JSX content file I would see the original source.  Now if I make the same request using 2.1.0, I see the javascript which has been compiled from the JSX

[2015-11-26 11:38] jvdenning commented on #190
Hi
We've encountered the same error though with a slightly different stack, using the ClearScript.V8 engine - React.ReactEnvironment,Execute(String code) - and it fails at Line: 0 Column 0.
The code is a bundled.js file that contains the all the non-minified transpiled jsx files.
The V8 Runtime is reporting a version of 4.4.63.29, with the clearscript assembly version of 5.4.3, this is running on

[2015-11-27 11:49] sladiri opened #202 "libvroomjs fails to build on linux"
I followed the guide to use ReactJS on Linux, http://reactjs.net/guides/mono.html
I  checked out V8 tag/3.17.16.2 and built it.

Building libvroomjs failed, attached is the console output from the command
`g++ jscontext.cpp jsengine.cpp managedref.cpp bridge.cpp jsscript.cpp -o libVroomJsNative.so -shared -L /home/sladjan/ReactJS/v8-3.17/out/native/lib.target/ -I /home/sladjan/ReactJS/v8-3.17/incl

[2015-11-28 05:30] Daniel15 commented on #202
So you were able to compile it once you added `#include <cstring>`? If so, I can update the code and/or the instructions.

[2015-11-28 05:33] sladiri commented on #202
Yes, I was. It compiled fine, the output file was there.

[2015-11-30 01:18] Daniel15 commented on #183
Hmm, maybe the version of V8 used by ClearScript isn't new enough to contain `Array.prototype.find` :( You could polyfill it - For example, see the polyfill at the bottom of the page at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find, or this one on npm: https://www.npmjs.com/package/array.prototype.find

[2015-11-30 04:35] #202 closed

[2015-11-30 04:36] Daniel15 commented on #202
Thanks, I've added the missing `#include <cstring>` and also updated the instructions on the site to explicitly check out V8 version 3.17.16.2. Let me know if you see any other issues. Thanks!

[2015-11-30 05:25] #196 closed

[2015-11-30 05:26] Daniel15 commented on #201
Hey @joaker, as I mentioned via email, try look at the request to the `.jsx` file in your browser's dev tools and see if the response contains an `X-SourceMap` header. If it does, try hitting that URL and see if the source map file is being returned correctly.

[2015-11-30 05:40] Daniel15 commented on #196
This should be fixed in version 2.1.2, let me know if you still experience any issues!

[2015-11-30 14:04] drobinson-inter-est commented on #193
Should this not be considered a bug? Also, are we likely to see a fix for it anytime soon? My entire rationale for using the React.NET integration was to give me server-side rendering within the .NET stack.

[2015-11-30 18:34] jslatts commented on #193
As @aeleftheriadis mentioned, it works fine with Babel 5. You can also just avoid doing any JSX compiling in React.NET and use any external tools (Browserify, webpack, babel, etc) to do your JS compile stage and then use AddScriptWithoutTransform to bypass React.NET's transformation step.

You will probably end up wanting to do your own compile anyway so you have the control over your build as you

[2015-11-30 18:38] Daniel15 commented on #193
It's not a bug, because Babel 5 works fine. There's a bunch of changes in Babel 6 that I need to adapt ReactJS.NET to handle. Babel no longer has a "browser" build so I need to build my own build of Babel. Many of the Babel integrations are still using Babel 5, as is the ["try now" page on their site](http://babeljs.io/repl).

Depends on how quickly I can determine how to get Babel 6 working. I'm

[2015-12-01 06:04] #197 closed

[2015-12-01 10:36] drobinson-inter-est commented on #193
I'm already pointing at compiled JS, @jslatts.

@Daniel15 Thanks for the prompt response - I'm going to shelve .NET server-side processing for now and wait for the update, as I'm just building boilerplate at the moment and it isn't currently a priority: I also don't want to have to make the webpack.config.js file I've been working on work for React, es2015, postcss, tape.js etc on Babel 5 if I can

[2015-12-01 16:29] mattwoberts commented on #161
Just having a look at this after a few months - wondering if anything has changed re: server side rendering and the issue with engine pooling and memory leaks - @PeteDuncanson / @Daniel15  ?

Cheers!

[2015-12-02 14:07] yrki commented on #143
Hi @PeteDuncanson - How has Supercharged been working in your live environment? I've just been running a load test with 1000 users for 3 minutes on React.Net, and it seems to get a lot of JSPoolExhaustExceptions. Have you done any load testing with SuperChargedReact?

[2015-12-02 22:44] Daniel15 commented on #143
@yrki

Default pool size is 10 engines at startup and 25 engines maximum,  to ensure it doesn't consume an excessive amount of memory. That's most likely the bottleneck in your testing. You'll need to increase those for higher concurrency (`SetStartEngines` and `SetMaxEngines` in your `ReactConfig`)

[2015-12-03 01:02] ss108 opened #203 "Compiler doesn't understand arrow functions?"
Hi, I am declaring a component in a .jsx file in the following manner:

[code]

I get the attached compiler error with this code. Is there something I am doing wrong/need to change, or is it not possible to use arrow functions in jsx files with React.NET?

Thanks!

![babel-compiler-problem](https://cloud.githubusercontent.com/assets/5439659/11548931/66e9bdba-9916-11e5-814d-55465d3de21e.png)

[2015-12-03 02:20] Daniel15 commented on #203
These are not regular arrow functions, they're [an experimental proposal for class instance fields](https://github.com/jeffmo/es-class-fields-and-static-properties) by @jeffmo. Experimental features like this are not enabled by default. You'll need to set Babel to stage 0 in your config:
[code]

(this config syntax will be changing a bit with Babel 6, but it'll be configured similarly)

[2015-12-03 02:20] #203 closed

[2015-12-05 04:54] AcousticGuitar opened #204 "uncaught-referenceerror-showdown-is-not-defined-reactjs-net"
I've documented this issue here.
http://stackoverflow.com/questions/34101396/uncaught-referenceerror-showdown-is-not-defined-reactjs-net

I used NUGET to download showdown.js, this is shown in package file.

      <package id="React.Core" version="2.1.2" targetFramework="net452" />
      <package id="React.Web" version="2.1.2" targetFramework="net452" />
      <package id="React.Web.Mvc4" version=

[2015-12-06 07:53] #193 closed

[2015-12-06 07:57] Daniel15 commented on #193
I just committed d0b14d32daa77261be7e08f64203c30c674465ba, which upgrades to Babel 6. It should be available on the [development NuGet server](http://reactjs.net/getting-started/download.html#development-builds) soon as version 2.2.0-dev.

@drobinson-inter-est - Note that if you're already precompiling your JavaScript, your issues probably aren't related to the version of Babel bundled by ReactJS.

[2015-12-07 20:53] mycall opened #205 "The file name is too long"
I had to copy repository to root (e.g. C:\R) in order to compile it without Babel errors.   I was getting compile error under a C:\dev\mvc4\react.net directory, so the repository should consider this in the README or refactor with not so deep paths.

[2015-12-07 21:47] Daniel15 commented on #205
Interesting... I've got mine at `C:\Users\danlo\Documents\Visual Studio 2015\Projects\ReactJS.NET\` and I haven't had any issues with paths being too long. At which point of the build is the error thrown?

[2015-12-07 22:25] mycall commented on #205
I can't seem to reproduce the build errors and I didn't save the errors or shell session output.  It could have been error with stale global nodejs packages.

 I'll close the issue but will report back if I see it again.

[2015-12-07 22:25] #205 closed

[2015-12-08 11:11] andersekdahl commented on #134
We've started to use Edge.js for server rendering React, and so far so good. It doesn't require you to install Node.js, it bundles Node.js with the NuGet package. All APIs to communicate with Edge are aync from the C# side which is nice, but it makes it impossible to use Edge from an HtmlHelper (which is fixed in MVC6 with tag helpers).

Another thing to be aware of is that there can only be one N

[2015-12-08 11:20] PeteDuncanson commented on #134
Personally I don't see whats wrong with simply using Webpack to bundle up your scripts. Means you get server-side and client-side all done in one step. I don't know what you would be gaining by doing it Edge?

[2015-12-08 12:03] andersekdahl commented on #134
We're actually using Webpack to build a bundle for server rendering that we `require` with Edge.js.

We're still in early stages of server rendering React, and the interesting options are this project, Edge.js and [NodeServices](https://github.com/aspnet/NodeServices) where NodeServices is just an early proof of concept, but it's interesting to see Microsoft exploring this.

When we have a working

[2015-12-08 12:10] PeteDuncanson commented on #134
@andersekdahl I'm quite open about SuperCharged in that its come far enough to meet our needs so attention has moved on to using it rather than developing it plus it means currently its not all that user friendly for newbies (no documentation!) even though there is not much to it really.

However I'm very keen to get more people having a play with it. Sadly paying the mortgage and doing up the hou

[2015-12-08 12:40] andersekdahl commented on #134
@PeteDuncanson That's very interesting! Documentation would of course be nice, but I prefer digging around in code anyway.
What kind of load do you have on the sites you're using it on?

Are these repos up to date and a good starting point to test it out?
- https://github.com/Offroadcode/Umbraco-React-Starter-kit
- https://github.com/Offroadcode/SuperchargedReact.Net

[2015-12-08 13:04] PeteDuncanson commented on #134
@andersea yep thats the latest. You can either run it with ReactRouter or to render a single component via a HtmlHelper.

General gist is you need to include reactrunner.js in your project and that does the magic of working out if you are rendering using ReactRouter or not. Globally we have a setting object that SuperCharged pokes into the JS engine with the settings from the server if you need to

[2015-12-08 16:21] andersea commented on #134
I was summoned. 8-)

[2015-12-08 16:23] PeteDuncanson commented on #134
Haha! Oops, sorry @andersea - I blame autocorrect :)

[2015-12-08 16:25] andersekdahl commented on #134
I've statred to play with it, having some issues with the ClearScript dlls but I'll figure it out.
What kind of load does the sites using SuperChargedReact.Net have? Number of concurrent users?

[2015-12-08 16:33] PeteDuncanson commented on #134
The ClearScript DLL's are a pain, you need to have them in two place:

/ClearScript.V8
 - ClearScriptV8-32.dll
 - ClearScriptV8-64.dll
 - v8-ia32.dll
 - v8-x64.dll
/bin/
 - ClearScript.dll
 - v8-x64.dll (or v8-x32.dll depending on your environment)

I'll admit I've been a bit cargo cult with these, I don't really understand how they work or why they have to be where they have to be and there might

[2015-12-08 16:40] andersekdahl commented on #134
Thanks for the pointers!
You never answered my question about the load on your sites though. :)

[2015-12-08 16:50] PeteDuncanson commented on #134
@andersekdahl Ooops sorry, task focused! We peak out just shy of 100 users per second currently and on Black Friday we had nearly 600 active sessions at once (not 600 hits at once though obviously). Its not totally crazy but for our needs it does just fine. CPU's on the servers barely flicker too :)

This is not however an all singing and dancing app with millions of users but like I said for our

[2015-12-08 17:04] jslatts commented on #134
@PeteDuncanson It's good to hear you are using it in production. Dropping SuperChargedReact.NET into our app for testing is on my todo list as well. Do you guys hang out on IRC? Would love to chat with you a bit more about your project.

[2015-12-08 17:59] PeteDuncanson commented on #134
@jslatts I've never been one for IRC, I was on the React slack channel for a bit but it soon turns into a long chat about what everyone is having for breakfast every morning and of course the constant updates about coffee (it should be updates about tea of course but each to their own).

[2015-12-08 19:29] PrimeObjects commented on #177
sorry for reply, it works!

[2015-12-08 19:29] #177 closed

[2015-12-09 09:05] aeleftheriadis opened #206 "Problem with ReactCSSTransitionGroup and webpack"
I have added ReactCSSTransitionGroup with

import ReactCSSTransitionGroup from 'react-addons-css-transition-group';

When my component loads I get the error described on the following link

https://gist.github.com/jimfb/4faa6cbfb1ef476bd105.

[2015-12-09 13:37] aeleftheriadis commented on #206
I was using ReactCSSTransitionGroup.
I used React.addons.CSSTransitionGroup instead and everything worked as a charm

[2015-12-09 13:37] #206 closed

[2015-12-09 18:30] Daniel15 commented on #134
I do still want to take some ideas from SuperchargedReact.NET for ReactJS.NET, I just haven't had time to do so. :+1:

That's indeed very interesting, I hadn't heard about this until today. I didn't know that Microsoft were working on something similar :open_mouth:

lol

The Slack chat moved to a different system called Discord. I'll see if they can create a `#dotnet` channel to chat about all thi

[2015-12-09 19:27] jslatts commented on #134
+1 on the discord channel. It would give me a reason to hang out there.

[2015-12-09 19:30] andersekdahl commented on #134
I've never used discord but I'd definitely join if there was a channel to talk about React + ASP.NET!

[2015-12-09 19:32] Daniel15 commented on #134
There's a Gitter channel, it's a bit... dead though. I think it's just me
in there now :P

https://gitter.im/reactjs/React.NET

--
Regards,
Daniel Lo Nigro
http://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Wed, Dec 9, 2015 at 11:30 AM, Anders Ekdahl <notifications@github.com>
wrote:

[2015-12-10 00:20] joaker commented on #201
Hey @Daniel15 ,

It looks like this problem is limited to Chrome.  Firefox loads the source map just fine.  There is a screenshot of Firefox with the source correctly mapped, and a second of from Chrome with the generated JS file without the source.

The screenshots came from a new MVC5 project I just created with VS2015 and ReactJS.Net 2.1.2.

![reactjsnetsourcemap_chrome](https://cloud.githubuse

[2015-12-10 02:27] Daniel15 commented on #201
@joaker - Okay, in that case it sounds like the source map file is being built correctly :smile:. Could you please check that source maps are definitely enabled in Chrome?

1. Click the "three vertical dots" button next to the x at the top right
2. Click "Settings"
3. On the "General" tab, make sure "Enable JavaScript source maps" is ticked.

[2015-12-10 03:44] joaker commented on #201
Yes, source maps are definitely enabled in Chrome.

![chromesourcemapsettings](https://cloud.githubusercontent.com/assets/626162/11706308/65775ba4-9ec5-11e5-9974-e1b701f4ca4a.png)

Below is the source X-SourceMap JSON object:
{"version":3,"file":"/Scripts/jsx/Page.jsx","sourceRoot":null,"sources":["/Scripts/jsx/Page.jsx"],"sourcesContent":["var Page = React.createClass({\r\n    render: function ()

[2015-12-10 07:24] Daniel15 commented on #201
Since source maps are working in Firefox, and the option is enabled in Chrome, I'd say this may be a bug in Chrome. I'm not quite sure how to debug that though! Maybe try other sites or libraries that use source maps and see if they work?

[2015-12-11 16:44] mycall opened #207 "Could not find a part of the path 'C:\React.NET\src\React.Sample.Webpack\build\server.bundle.js"
Is there a setting I need to change to create this bundle?  I've tried this on two different systems, same result when I run the React.Sample.Webpack under iisexpress.

[2015-12-11 17:02] Daniel15 commented on #207
Did you run webpack first? You need to run webpack to build the bundle.
Perhaps I should add that to the build script.

Sent from my phone.
On Dec 11, 2015 8:44 AM, "mycall" <notifications@github.com> wrote:

[2015-12-11 17:08] mycall commented on #207
doing so returned "Unknown option: base.loose" for both client.js and server.js

[2015-12-11 17:17] Daniel15 commented on #207
Ah, sounds like the build is broken for the Webpack example, and I didn't
notice since it doesn't run Webpack as part of the build. I'll fix it :)

Sent from my phone.
On Dec 11, 2015 9:09 AM, "mycall" <notifications@github.com> wrote:

[2015-12-11 20:12] mycall commented on #207
grazie mille

[2015-12-11 23:10] PrimeObjects opened #208 "reactEnvironment.Babel.Transform does not work on Azure"
Hi,

I'm using the codes below to convert js content into Babel transformed content. It works fine on my local server but it returns "Expected;identifier" in Exception.Message on Azure. Any idea?

var reactEnvironment = React.AssemblyRegistration.Container.Resolve<React.IReactEnvironment>();
 content =  reactEnvironment.Babel.Transform(content);

Thanks
Gary

[2015-12-11 23:40] Daniel15 commented on #208
The issue may be that it's using the V8 JS engine locally, but the MSIE JS engine on Azure. Basically it tries to use V8 by default, but falls back to the MSIE engine if loading V8 fails for some reason. I do know that some people are successfully using ReactJS.NET on Azure, so it should be possible to get it working. Try calling `.SetAllowMsieEngine(false)` in your `ReactConfig`, then publish to